[2016-11-20 22:25] lewismc opened #10 "Create examples and add basic aviris data handling tutorial"
This issue addresses my TODO from our meetings regarding a basic tutorial on how to read AVIRIS and AVIRIS-NG data. I'm going to put together a [basic jupyter notebook](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/execute.html#running-the-jupyter-notebook) so we can all run it.

[2016-12-03 03:04] lewismc commented on #10
This exists at https://github.com/capstone-coal/coal/tree/master/examples. I've also added the binder badge to the README so that you ca run the notebook on Binder rather than locally.

[2016-12-03 03:04] #10 closed

[2016-12-03 06:12] browtayl opened #12 "design document revision"
Address revisions to the design document noted after approval of initial draft in pull request https://github.com/capstone-coal/coal/pull/9.

[2016-12-03 07:08] browtayl opened #13 "incorporate presentation into website"
It was [mentioned](https://groups.google.com/forum/#!topic/coal-capstone/32zUxQbeFKQ) that the presentation should be added to the website. We will be dubbing voiceovers and creating a multimedia file in addition to the raw slides which will be ready after we submit our report Wednesday. Should the presentation be uploaded as-is, or should its contents be incorporated into the website?

The [infra

[2016-12-03 19:50] lewismc commented on #13
ack. I agree. @xiaomei7 can you please take care of this? Thank you

[2016-12-08 05:12] browtayl opened #15 "verify licensing of fall report requisites"
We need to make sure that all of the files added by Pull Request https://github.com/capstone-coal/coal/pull/14 are compatible with the Apache license, as applicable with respect to Fair Use. Assigning to myself.

Having all the documents in the application source is not that elegant, but our instructors have told us to use a single repository. Please file an issue if it is desired to find another

[2017-01-27 23:43] lewismc commented on #12
Is this complete

[2017-01-27 23:43] lewismc commented on #13
@xiaomei7 can you please look into this? Thank you

[2017-01-27 23:45] lewismc commented on #15
@browtayl is this resolved?

[2017-01-27 23:46] lewismc opened #16 "Make ASTER Library available somewhere"
We might wish to ship [ASTER](http://speclib.jpl.nasa.gov/) with COAL. I'll get my hands on a copy and then investigate the licensing.

[2017-01-27 23:49] lewismc opened #17 "Merge mineral-skeleton branch into canonical master"
Hi @browtayl when you can, please merge https://github.com/browtayl/coal/tree/mineral-skeleton into master branch. Thank you in advance. No need for  pull request.

[2017-01-28 07:04] ghost commented on #17
merged and closed

[2017-01-28 07:04] #17 closed

[2017-01-28 07:05] ghost commented on #15
@lewismc negative. I'll take care of it this week.

[2017-02-02 19:08] lewismc commented on #12
@browtayl ping

[2017-02-02 19:08] lewismc commented on #13
@xiaomei7 ping

[2017-02-02 19:18] ghost commented on #12
Sorry, @lewismc, your previous comment got past me. The issue is currently unresolved. According to Heidi, it looks like we're due to revise this and the other documents on the 17th.

[2017-02-02 19:20] browtayl opened #18 "mineral classification"
we can use this issue to track progress on the mineral classification step. assigning to @heidiaclayton.

[2017-02-02 19:22] browtayl opened #19 "mining classification"
we can use this issue to keep track of mining classification. assigning to @xiaomei7.

most of the mineral skeleton can be repurposed for this. i will be adding GIS functionality and assisting with development as necessary.

[2017-02-02 19:25] browtayl opened #20 "environmental correlation"
this issue is for implementation of mining/environment correlation, mainly GIS stuff. it would be straightforward to bundle the temporal analysis with this as well, but we can decide on that later. assigning to myself.

[2017-02-02 19:33] lewismc commented on #13
@xiaomei7 the background image for the Website can now be found [here](https://github.com/capstone-coal/capstone-coal.github.io/blob/master/img/161344main_image_feature_681b_ys_full.jpg), the code to embed it into the Website can be found at
https://github.com/capstone-coal/capstone-coal.github.io/blob/master/css/stylesheet.css#L12
Please update the background thank you.

[2017-02-02 19:39] lewismc commented on #16
I'm picking up a copy early next week and will make it available for everyone then.

[2017-02-02 19:53] lewismc commented on #12
ok doke

[2017-02-03 19:49] ghost commented on #15
According to the pull request, the added files are `IEEEtran.cls`, `pgfgantt.sty`, and `DejaVuSansMono.sty`. As I recall, these were copied directly from my Debian system so the licenses should be free and easy to find. Understanding the legal implications of the licenses is not as straightforward, so I'll find each license first and then analyze them.

Recall that it is possible to license compon

[2017-02-03 19:56] lewismc commented on #15
Thanks @browtayl if I were you I wouldn't worry about this. We do not need to distribute these files. The fact that they reside in a SCM server somewhere does not mean we are breaking copyright and/or licensing agreements.
We can merely link all 'documentation' from the main coal website... whenever it is updated!

[2017-02-03 21:32] heidiaclayton commented on #18
https://github.com/heidiaclayton/coal/tree/mineral-id-dev

[2017-02-04 05:45] ghost commented on #15
@lewismc Point taken, I just created the issue to be certain that I wasn't infringing when I copied in these files. Arguably having it in version control does constitute redistribution, so I'll just really quickly look at the other licenses before closing the issue, and we can add a copyright file or remove them later as necessary.

The pgfgantt file is under the same license:

[code]

And the sam

[2017-02-04 06:09] ghost commented on #18
Feel free to ping me this weekend. If I am available I will be willing to assist.

Although I am confident Spectral Python can do the job, as [mentioned](https://groups.google.com/forum/#!topic/coal-capstone/nXhRb1fA7lg) I would recommend checking out the [Orfeo Toolbox](https://www.orfeo-toolbox.org/) to see how it compares to Spy. [At first glance](https://www.orfeo-toolbox.org/features-2/) it h

[2017-02-04 06:15] ghost commented on #19
Dropping a pointer to the mailing list regarding mine locations:
https://groups.google.com/forum/#!topic/coal-capstone/rvGSCdBWjb0

We may need these resources for the GIS part of this module.

[2017-02-04 06:36] browtayl opened #21 "Web Application"
In the past two meetings we have discussed adding some kind of API to the website for searching our classified data. One obvious way of doing this would be to postprocess our classified data to generate something like a static JSON database which could be used for a dynamic Web interface.

I have a [little bit](https://github.com/browtayl/tasx2/tree/backbone) of experience using the [Backbone.js](

[2017-02-04 08:47] ghost commented on #21
Setting as Blocked in the [project board](https://github.com/orgs/capstone-coal/projects/1) for now. We will need more details on just what we want to be able to search for. An example mentioned in Friday's meeting was "images that contain a particular surface cover type".

[2017-02-04 08:57] browtayl opened #22 "Google Group Permissions"
One of the TODOs in the COAL website [issue](https://github.com/capstone-coal/capstone-coal.github.io/issues/1) is to provide a link to our [Google Group](https://groups.google.com/forum/#!forum/coal-capstone). However, it appears to be "Shared Privately" and I get a permission denied error if I am not logged in.

Assigning to @lewismc to verify that the Google Group permissions are correct and up

[2017-02-05 23:03] ghost commented on #12
@heidiaclayton @xiaomei7 We can refer to the comments in the [Design draft](https://github.com/capstone-coal/coal/pull/9) pull request when we revise the document. Note that there are also comments to address for the [tech review](https://github.com/capstone-coal/coal/pull/8).

[2017-02-06 04:28] ghost commented on #19
Two of the three links in that email give 404 errors. We'll have to do a bit more digging to find maps of mines.

[2017-02-06 04:30] heidiaclayton commented on #18
Here's the pull request: https://github.com/capstone-coal/coal/pull/23

[2017-02-06 04:46] ghost commented on #12
Here's info on citing GDAL if we need it:
http://trac.osgeo.org/gdal/wiki/FAQGeneral#HowdoIciteGDAL

[2017-02-06 04:55] ghost commented on #19
Here's a source for USGS topographic maps:
https://nationalmap.gov/ustopo/index.html

Not sure if these will have the mining layers we want, but it's worth a look.

[2017-02-06 10:32] ghost commented on #20
I have created a work-in-progress [pull request](https://github.com/capstone-coal/coal/pull/24) containing a skeleton and a [more detailed sketch](https://github.com/browtayl/coal/blob/98cf8f9c9291f7c88c8ef62518374a66c2478a70/docs/gis-processing.jpg) of GIS processing.

The big picture is that I've outlined a utility function `combine` which takes user-defined functions for combining raster images

[2017-02-07 11:17] ghost commented on #19
Here's a mining skeleton based on the GIS module I'm working on:
https://github.com/browtayl/coal/compare/3f01f79039d1488736b8a75288c5102cf09e74f1...browtayl:coal-19-mining-classification

[2017-02-10 11:25] browtayl opened #25 "pypi package name"
as previously mentioned, the name "coal" has already been [taken](https://pypi.python.org/pypi/coal/) in the python package index. the project does not seem to be active. it might be worth contacting the package index owner, Martin.Atkins, to see if he would be willing to let us have it. i believe i have found his website here: http://martin.atkins.me.uk/ . we might want to wait until our own proj

[2017-02-10 22:28] lewismc commented on #22
This has now been addressed. If there are further issues then let me knowm Thnaks.

[2017-02-10 22:28] #22 closed

[2017-02-10 22:29] lewismc commented on #16
Now available at https://drive.google.com/drive/folders/0B1hXUEnU66LkSzRqX3pfNnBNSHM

[2017-02-10 22:29] #16 closed

[2017-02-10 22:29] lewismc commented on #13
This is now addressed thank you @xiaomei7

[2017-02-10 22:29] #13 closed

[2017-02-10 22:30] lewismc commented on #25
OK great thank you. I will keep an eye on this and see what is up later on.

[2017-02-11 04:43] browtayl opened #26 "choose environment case study"
this issue is to choose a dataset for use as a case study for [environmental correlation](https://github.com/capstone-coal/coal/issues/20).

we are interested in **GIS data** that represents a relatively **simple quantity** to correlate with classified mines. something that can derived from a **single layer** for each pixel would be ideal, such as a distribution of chemical concentrations. it woul

[2017-02-11 04:45] ghost commented on #26
here are a few potential sources from EPA and USGS:
* https://www.epa.gov/geospatial
* https://water.usgs.gov/maps.html
* https://water.usgs.gov/owq/data.html

[2017-02-11 04:47] ghost commented on #26
note also that this data should have **comparable resolution** to the AVIRIS imagery.

[2017-02-11 04:51] ghost commented on #26
my [skeleton code](https://github.com/capstone-coal/coal/pull/24/files) currently assumes that the input is in vector format, but this is not strictly necessary.

[2017-02-11 05:09] ghost commented on #19
the [assumption](https://github.com/capstone-coal/coal/blob/826b1b1c058c4326576b0a5c1b8d4023f2947b6a/docs/mining-classification.jpg) for mining classification so far has been that we classify each pixel based on the pattern of minerals in the containing region. how large should this region be? as mentioned in today's meeting, the choice can initially be arbitrary. each region should probably be a

[2017-02-11 05:52] browtayl opened #27 "research paper"
this issue is to coordinate collaboration on our research paper. this is distinct from the papers and presentation we will be giving for capstone, though there may be much we can reuse.

the conferences we have discussed include [AGU](http://sites.agu.org/), [ESIP](http://esipfed.org/), and [SPIE](http://spie.org/). i'm not really familiar with what these conferences are looking for. we are buildi

[2017-02-11 06:12] ghost commented on #21
one possible parameter to categorize imagery and classifications is to query geographic boundaries. GDAL uses a standard text serialization to represent these. this would allow the user to search for images that correspond to a particular region. note, however, that would arguably be **beyond the scope** of our original project specification.

[2017-02-12 10:43] ghost commented on #18
When it comes time to optimize, an alternative to rewriting everything with Orfeo or another GPU-accellerated hyperspectral toolkit would be to reimplement Spy's perceptron classifier with OpenCV. This would be the sort of thing we could contribute back to Spectral Python.

[2017-02-17 12:39] browtayl opened #28 "winter midterm"
this issue is to implement the [winter midterm progress presentation and report](http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?hw=midterm) and [revisions](http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?hw=revisions). this issue supersedes that for the [design document revision](https://github.com/capstone-coal/coal/issues/12), which will be closed. revisions are to include changes req

[2017-02-17 12:40] ghost commented on #12
closing this issue as changes will be implemented along with the rest of our [winter midterm](https://github.com/capstone-coal/coal/issues/28).

[2017-02-17 12:40] #12 closed

[2017-02-17 19:58] ghost commented on #28
i have created a [pull request](https://github.com/capstone-coal/coal/pull/29) to add our changes from overleaf into git. we can look at the diff to help create the changelog.

[2017-02-17 21:55] lewismc commented on #25
I have no heard anything back from the guy above so I'll just rename everything to pycoal. That is the workaround which we can live with.

[2017-02-17 21:55] #25 closed

[2017-02-17 22:10] lewismc commented on #19
@xiaomei7 have you made any progress on this at all? If so can you please open a pull request so I can review and we can get it moving in the right direction. Thank you.

[2017-02-17 22:46] lewismc opened #30 "API-level documentation"
Hi @xiaomei7 I would like you to begin working on documentation for the toolkit. This will act as developer level documentation and will be the primary resource for anyone wishing to use Pycoal programmatically so it is a very important task.

The code is situated at https://github.com/capstone-coal/pycoal/tree/master/docs/source, you should begin with the [introduction.rst](https://github.com/cap

[2017-02-18 05:48] ghost commented on #28
apologies for committing the PDFs, but it is required per the [assignment](http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?hw=midterm).

[2017-02-18 07:49] ghost commented on #28
the branch was merged as planned. changes involve revisions to the tech review and design document as well as a new winter progress report and updated winter presentation. sorry the directory is getting a bit cluttered, but we can open a new issue to fix that. this should complete the winter report submission.

@lewismc feel free to review our changes or request more information. i will be adding

[2017-02-18 07:49] #28 closed

[2017-02-18 08:09] ghost commented on #28
@lewismc files have been added to deliverables.

[2017-02-19 02:26] ghost commented on #19
@lewismc i will make sure this gets done

[2017-02-19 02:32] browtayl opened #31 "clean up docs directory"
the docs directory is currently a bit of a mess. this enhancement will organize the documents and files in subfolders. assigning to myself.

[2017-02-19 02:32] ghost commented on #28
created [issue](https://github.com/capstone-coal/pycoal/issues/31) to clean up docs directory

[2017-02-20 01:46] browtayl opened #32 "update names to pycoal"
All of our documentation currently uses the name "COAL". This issue is to update documents with the new name, "PyCOAL". We could also update the description to something like "**Py**thon library to measure **C**oal and **O**pen-pit surface mining impacts on **A**merican **L**ands".

Assigning to myself. Request confirmation from @lewismc before I proceed.

[2017-02-20 02:20] ghost commented on #19
@lewismc @xiaomei7 i have created a [pull request](https://github.com/capstone-coal/pycoal/pull/33).

[2017-02-20 02:28] ghost commented on #18
@heidiaclayton and i will be pair programming on this beginning 2017-02-20, so i am adding myself as an assignee.

[2017-02-20 02:33] ghost commented on #32
for reference, this issue addresses the decision made about the [pypi package name](https://github.com/capstone-coal/pycoal/issues/25).

@lewismc you may want to register the pypi package `pycoal` so nobody beats us to that too!

[2017-02-20 22:23] heidiaclayton commented on #31
Heads up, restructext.png and blob.jpg aren't used anymore.

[2017-02-21 10:56] ghost commented on #26
@lewismc [the photos of acid mine drainage](https://groups.google.com/d/msg/coal-capstone/R4KGwqVw3Gw/TvzAEf0xAQAJ) got me thinking we might want to quantify something like "abnormal pH" for our case study

[2017-02-21 10:59] ghost commented on #26
more from wikipedia:
https://en.wikipedia.org/wiki/Acid_mine_drainage

[2017-02-21 21:25] lewismc commented on #26
Yes OK, I am good with that.
Also, as we saw in earlier articles, generally the release of natural contaminants into any waterways is generally considered as environmentally damaging. Here's a more recent example
http://www.snopes.com/2017/02/06/dump-coal-waste-into-streams/
+1 to use abnormal pH which can be detected from tailing ponds, etc.

[2017-02-21 21:32] lewismc commented on #32
If you want to update the entire project name then please proceed. Thank you @browtayl I'll go ahead and register the name now. Thanks.

[2017-02-21 21:42] lewismc commented on #32
Documentation for release PyCOAL
https://github.com/capstone-coal/pycoal/wiki/Release

[2017-02-21 21:49] lewismc opened #34 "Create feedstock repository"
A popular mechanism for making a Python library available to the uber popular conda environment is to make a [conda-forge feedstock](https://conda-forge.github.io/), we should do exactly that.

[2017-02-22 01:37] ghost commented on #26
as @lewismc [mentioned](https://groups.google.com/forum/#!topic/coal-capstone/Wy9DTlxUPs8) on the mailing list, a promising potential application of PyCOAL is for [remote sensing of water quality](https://nspires.nasaprs.com/external/solicitations/summary.do?method=init&solId={0E7A02B8-57FB-A842-9EDF-480BE571D420}&path=init) to detect harmful algal blooms (HABs).

we might want to see if pH could

[2017-02-22 03:14] lewismc commented on #32
@xiaomei7 I've assigned this to you. Can you please submit a pull request based off of the [PyCOAL development workflow](https://github.com/capstone-coal/pycoal/wiki/PyCOAL-Development-Workflow)

[2017-02-22 03:15] lewismc commented on #31
@xiaomei7 this issue is trivial to complete and relates to documentation. Can you please look into completing it? Thank you.

[2017-02-22 06:15] ghost commented on #26
recall that the [literature on mining identification](https://drive.google.com/drive/folders/0B1hXUEnU66LkRHVzSDYtejl3Nzg) in google drive has a lot of info on acid mine drainage. the big picture is that sulfides released from mining operations react to form acid waste.

[2017-02-22 06:17] ghost commented on #26
this [wikipedia page](https://en.wikipedia.org/wiki/Algal_bloom) mentions nutrient pollution of phosphorus, nitrogen, and carbon as possible factors in algal blooms.

[2017-02-22 06:47] lewismc commented on #26
@browtayl dynamite... thank you for checking up.

[2017-02-23 16:15] lewismc opened #35 "Ensure Linting is part of CI build process"
There are plenty of good linting programs which ensure that Python code is syntactically accurate. We should build one into the TravisCI configuration.

[2017-02-27 07:50] heidiaclayton commented on #18
Hi @lewismc I just merged the code and am going to start with tests. Should I make a test directory and make a file called "mineral_test.py" or would you prefer another structure? Thanks.

[2017-02-27 18:09] lewismc commented on #18
@heidiaclayton yes **tests** is absolutely fine. You'll see this defined [here](https://github.com/capstone-coal/pycoal/blob/master/setup.py#L40). mineral_test is grand as well. Thank you. Please create a separate issue and related pull request for the nosetests. Thanks.

[2017-02-27 23:07] heidiaclayton opened #36 "Tests for mineral classification"
I'll be writing tests using nosetests for the mineral classification functionality. I may need to make revisions in the code (e.g. the neural network structure) to make the tests pass.

[2017-02-28 00:02] heidiaclayton opened #38 "Tests for mineral classification"
https://github.com/capstone-coal/pycoal/issues/36

[2017-02-28 00:03] #38 closed

[2017-03-03 03:25] xiaomei7 commented on #32
@browtayl Just to clarify, does this include all the papers we wrote from the last term?

[2017-03-03 06:10] lewismc commented on #32
@xiaomei7 no... just the codebase. From now on if you are refrring to the Python Toolkit then you should use ```pycoal```, if you are referring to the Capstone project then just keep it as ```COAL```.

[2017-03-03 06:11] lewismc commented on #32
This task should take literally 30 seconds.

The following code will do it in less then 30 seconds

[code]

[2017-03-03 21:35] xiaomei7 commented on #32
Hi, @lewismc, it seems there isn't anything to replace under the pycoal directory. See the results from the grep:
![1](https://cloud.githubusercontent.com/assets/16567119/23569803/21bca53c-0016-11e7-877c-3b5ea08a0222.png)

Thanks

[2017-03-03 21:44] lewismc commented on #32
Ok then please close off
Thanks you for checking

On Fri, Mar 3, 2017 at 1:35 PM xiaomei7 <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-03-03 21:49] #32 closed

[2017-03-04 04:37] ghost commented on #31
@xiaomei7 @lewismc i am reopening this issue because at least one file was moved to the wrong location and because zero attempt was made to ensure that these documents build correctly. they are required by class to build on OSU engineering servers. none of the references to images in the documents were updated, a fact which would have been obvious by running `make all`. i am assigning to myself so

[2017-03-04 05:20] ghost commented on #21
Unassigning from @xiaomei7 and reassigning to myself per https://github.com/capstone-coal/capstone-coal.github.io/issues/6. This issue is still blocked, but we can start thinking about possibilities now that we have an AWS instance.

[2017-03-07 23:36] lewismc opened #40 "Establish Apache OODT Science Data System on AWS Machine"
As discussed at our last meeting, [Apache OODT](http://oodt.apache.org) would be an excellent option for us to deploy an automated science data system capable of cataloging, archiving and making all of our data products searchable.
I'll work on this in due course and create a new project repository under our organization. This issue will be superseded once that new repository is active.

[2017-03-09 02:33] ghost commented on #18
@heidiaclayton to continue the conversation from issue https://github.com/capstone-coal/pycoal/pull/37, i wanted to get your thoughts on a "no data" classification value. presumably the output of this stage will be [an ENVI classified image](https://groups.google.com/forum/#!topic/coal-capstone/P40vdozJGHg), a matrix of integer classification values and a corresponding key.

my question is what va

[2017-03-09 05:16] heidiaclayton commented on #18
@browtayl I agree that 0 as a 'no data' value is good as long as the other classes are represented as positive integers.

[2017-03-09 05:20] heidiaclayton opened #41 "Map wavelength list to "float" type"
I had not yet committed this change before merging in #37 .

[2017-03-09 05:21] heidiaclayton commented on #41
And apparently I'm mistaken. Oops! The wavelength list taken from the metadata is in fact mapped to 'float'.

[2017-03-09 05:21] #41 closed

[2017-03-09 07:24] ghost commented on #18
thanks, that will be helpful for implementing mining id.

[2017-03-09 08:10] lewismc commented on #40
The coal-sds can be seen over at https://github.com/capstone-coal/coal-sds

[2017-03-09 08:10] #40 closed

[2017-03-09 12:17] ghost commented on #35
@lewismc @heidiaclayton do either of you recommend a particular linter? i don't have any experience with these in python.

[2017-03-09 12:39] kwhitehall commented on #35
Hey @browtayl, [PyLint](https://www.pylint.org/) is a pretty decent one.

[2017-03-10 11:43] ghost commented on #26
cross reference to mailing list thread on [water quality data](https://groups.google.com/forum/#!topic/coal-capstone/MBVIBZBc_cs)

[2017-03-10 12:29] ghost commented on #30
@lewismc recommend reassigning to @heidiaclayton if no updates from @xiaomei7

[2017-03-10 20:44] ghost commented on #35
pull https://github.com/capstone-coal/pycoal/pull/43 merged and closed.

[2017-03-10 20:44] #35 closed

[2017-03-10 20:44] ghost commented on #31
pull https://github.com/capstone-coal/pycoal/pull/42 merged and closed.

[2017-03-10 20:44] #31 closed

[2017-03-10 21:54] heidiaclayton commented on #30
[Here](https://pythonhosted.org/an_example_pypi_project/sphinx.html)'s a good resource.

[2017-03-10 22:04] xiaomei7 commented on #30
@browtayl It's OK I'm currently working on this, I was trying to get familiar with API documentation, wish I can post something valid during the weekend.

[2017-03-10 22:08] ghost commented on #30
@xiaomei7 awesome, thanks for letting us know. as mentioned during our meeting, you will need to edit the .rst files to use the correct names of the classes. these can be found in our source files. you may need to push your changes to a feature branch (not master) in the pycoal repo (rather than your personal repo) in order to get the pages to build.

[2017-03-11 07:22] ghost commented on #21
closing this issue per today's meeting as @lewismc is implementing a [science data system](https://github.com/capstone-coal/coal-sds).

[2017-03-11 07:22] #21 closed

[2017-03-11 07:28] ghost commented on #30
@xiaomei7 there's info [here](https://github.com/capstone-coal/pycoal#documentation) on building the docs manually so you don't have to push them to the server to view your changes.

[2017-03-12 03:32] ghost commented on #18
adding myself as an assignee again because i am working on this in pull https://github.com/capstone-coal/pycoal/pull/44

[2017-03-13 05:02] xiaomei7 commented on #30
Hi, I have tried to build the docs manually on my local computer, and I haven't got any results from the page mineral/mining identification as well as the environment correlation page. Is that normal? @[Here](https://github.com/xiaomei7/ISSUE-30/tree/master/docs/source) is my repository.

[2017-03-13 05:13] ghost commented on #30
I would have expected some output since you updated the class names, so
I don't know what could be going wrong. Perhaps Heidi has some insights
since she's done more with Sphinx.

Taylor

On 03/12/2017 10:02 PM, xiaomei7 wrote:

[2017-03-13 21:36] heidiaclayton commented on #30
@xiaomei7 The path to our code is not set so Sphinx does not know where to find it. You need to edit conf.py in the docs/source folder.

First, there's a section of code that is commented out that looks like this
[code]

Change it to this
[code]

We also have not imported the right things to make autoclass work, so change this line
`extensions = []`

to this
`extensions = ['sphinx.ext.todo', 'sphi

[2017-03-13 22:26] xiaomei7 commented on #30
@lewismc Here is a pull request: #45 .

[2017-03-14 00:19] lewismc commented on #30
ack, please merge into master. Good work folks.

[2017-03-14 00:33] lewismc opened #46 "Implement application logging"
We should begin to use a logging facility which will enable us to write application logs to file. We can start with
https://docs.python.org/3/library/logging.html

[2017-03-14 00:35] lewismc opened #47 "Implement timeit for measuring execution of core tasks"
We've been talking about execution times for various classification tasks. Once we have logging implemented, we should use https://docs.python.org/2/library/timeit.html to write out execution times to file.

[2017-03-16 02:33] ghost commented on #26
@lewismc does that water quality data satisfy the requirements of this issue, or are we looking for more environmental data sets?

[2017-03-16 02:38] ghost commented on #46
in addition to running time (issue https://github.com/capstone-coal/pycoal/issues/47), a useful thing to log would be which pycoal version was executed, particularly if it contained the specific git revision and any changes in the working directory. it would also be possible to store this data in the header file.

[2017-03-16 02:41] ghost commented on #15
@lewismc this issue has been marked as "review" for some time. based on the findings above, it looks like we're safe to redistribute all the files in question. if you agree, then this issue can be closed.

[2017-03-16 02:42] #30 closed

[2017-03-16 03:12] lewismc commented on #15
ack

[2017-03-16 03:12] #15 closed

[2017-03-16 03:14] lewismc commented on #26
No, water quality data is ideal as we discussed at last weeks meeting. Thank you.

[2017-03-16 03:14] #26 closed

[2017-03-17 03:40] browtayl opened #48 "support ASTER"
@lewismc @heidiaclayton this issue is to continue work from issue https://github.com/capstone-coal/pycoal/issues/18 and pull https://github.com/capstone-coal/pycoal/pull/44 to implement ASTER support for mineral classification. hopefully the additional samples will improve accuracy.

see commit https://github.com/browtayl/coal/commit/1e58d1237811dc8c46da493e3aeb9bb0fe819e9c in branch https://githu

[2017-03-17 03:41] lewismc commented on #48
ack

[2017-03-17 03:42] ghost commented on #18
@heidiaclayton @lewismc initial mineral classification complete. tests to be implemented in https://github.com/capstone-coal/pycoal/issues/36. ASTER support to be implemented in issue https://github.com/capstone-coal/pycoal/issues/48. closed.

[2017-03-17 03:42] #18 closed

[2017-03-17 03:50] lewismc commented on #18
boom

[2017-03-17 03:55] ghost commented on #18
@lewismc i hope that doesn't mean i've broken something lol

[2017-03-17 03:58] lewismc commented on #18
Nope, its still just the following syntax which is incorrect
[code]

[2017-03-17 04:00] ghost commented on #18
@lewismc understood. it's my priority to fix that as soon as possible in issues https://github.com/capstone-coal/pycoal/issues/19 and https://github.com/capstone-coal/pycoal/issues/20. you're also welcome to revert the merge that brought those in.

[2017-03-17 04:02] lewismc commented on #18
nope, not at all. I'm working on the SDS so I have my hands full.

[2017-03-17 04:07] ghost commented on #18
@lewismc very well. i am willing to revert the merge if you need `master` to build before i've finished mining and environment. it will be a few days before i have time to work on it.

[2017-03-17 04:08] lewismc commented on #18
Nope all good. As you were. Good work.

[2017-04-03 19:54] ghost commented on #48
@lewismc @heidiaclayton we should consider incrementing the [version number](https://github.com/capstone-coal/pycoal/blob/master/pycoal/__init__.py#L1) when this gets implemented so that we can tell our USGS-classified and ASTER-classified files apart.

[2017-04-04 12:37] browtayl opened #49 "process AVIRIS imagery"
this issue is to track progress on processing [our new imagery](https://groups.google.com/forum/#!topic/coal-capstone/P4Kx-lK5TFQ). we can also use this thread to discuss the methodology of batch processing.

[2017-04-04 12:40] ghost commented on #49
i will be using the **USGS library** as before while we await [ASTER support](https://github.com/capstone-coal/pycoal/issues/48).

i'm assuming we want to use the **orthocorrected, scaled reflectance** image files:
[code]

we will want to figure out a **naming convention** for the subdirectory (e.g., `L3M`) and the filename (e.g., `ang*_class_img.hdr`).

[2017-04-04 12:58] ghost commented on #49
since there are 44 images, this would take quite a **long time** to process at 6–12 hours apiece. at that rate we would finish in 11 to 22 days.

i'm going to try to select the **most interesting images** and classify those first.

we should really see if we can **optimize** the time complexity of the mineral classification algorithm. i have [discussed](https://github.com/capstone-coal/pycoal/pull

[2017-04-05 16:37] ghost commented on #36
@heidiaclayton @lewismc it would be helpful to have tests for the current revision of the mineral classifier so that we know what effect changes to the algorithm or the spectral library will have. i recommend slicing out one or more representative 10x10 pixel regions of the original san juan flightline and saving them as subimages in the test directory. the test could verify the classification of

[2017-04-07 01:09] browtayl opened #50 "investigate possible AVIRIS inconsistency"
This issue is to address a [possible inconsistency](https://github.com/capstone-coal/pycoal/pull/44#issuecomment-286643676) in AVIRIS-C data from Palisade, Colorado and if necessary contact the AVIRIS team [as requested](https://github.com/capstone-coal/pycoal/pull/44#issuecomment-286649500). assigning to myself with low priority.

[2017-04-07 01:23] ghost commented on #46
since the mineral classification takes such a long time and is generally run in the background, note that logging to a file would probably be preferable to standard output.

one possibility would be to make the mineral classifier constructor take an optional `logFile=None` parameter which, if provided, would enable logging to a file.

if i find an easy way to do this while i am [processing the ima

[2017-04-07 01:32] ghost commented on #49
In order to figure out which images to process, it is necessary to go back to the AVIRIS data portal to look at the locations and the quick look images.

For convenience, here again are links to the [AVIRIS-C Data Portal](https://aviris.jpl.nasa.gov/alt_locator/) and [AVIRIS-NG Data Portal](https://avirisng.jpl.nasa.gov/alt_locator/). We might like to link to these on the wiki or the website.

The

[2017-04-07 02:09] ghost commented on #49
The first image I am interested in processing is the [Craig Power Plant Coal Mine](https://avirisng.jpl.nasa.gov/ql/14qlook/ang20140912t192359_geo.jpeg). The other San Juan images in flight `ang20150422t` are very similar to our original image. However, the following series of overlapping flight lines from flight `ang20150420t` give a broad coverage over the mine and the surrounding terrain: [4C_T

[2017-04-07 02:11] ghost commented on #49
Based on the quick look, the input data for [4C_Tgt4_6](https://avirisng.jpl.nasa.gov/ql/15qlook/ang20150420t190759_geo.jpeg) might have some errors.

[2017-04-07 02:16] ghost commented on #49
The messy results from my previous processing are now in `~/browtayl/pull-request-44`. Files pertaining to this issue will be stored in `~/browtayl/issue-49`.

[2017-04-07 03:42] ghost commented on #49
@lewismc @heidiaclayton I am now processing the selected files with the script `~/browtayl/issue-49/classify.py`:
[code]
As you can see, I decided to save the files in an `LC` directory structure. Batch processing is slightly complicated by the fact that each image is in its own directory, so I used some regular expressions to help create them. It would be nice to find a more elegant way of doing

[2017-04-07 03:55] lewismc commented on #49
#winning

[2017-04-07 04:20] ghost commented on #49
some kind of progress meter might also be helpful here. i'll make a note of that in the [logging issue](https://github.com/capstone-coal/pycoal/issues/46).

[2017-04-07 04:23] ghost commented on #46
as mentioned in issue https://github.com/capstone-coal/pycoal/issues/49, we might also like to have a progress meter to help show relative completion. nothing interactive, just log completion in intervals of 10% perhaps. this might have a negative effect in terms of performance, so it would need to be implemented carefully.

[2017-04-07 20:12] ghost commented on #49
@lewismc @heidiaclayton The first image took approximately 7 hours:
[code]
The classifier found regions of `Schwertmannite BZ93-1` and some `Renyolds_Tnl_Sludge SM93-15` in the vicinity of the Craig Power Plant Coal Mine. Some other interesting classes include
`Cyanide_Trihydrate CT1`, `Cyanide_Potassium_Ferro`, `Green_Slime SM93-14A Summitv`, and `Blck_Mn_Coat_Tailngs LV95-3`. There seem to be fa

[2017-04-07 23:28] lewismc commented on #27
Hi @xiaomei7 I would like to work with you on this issue.

[2017-04-07 23:30] lewismc commented on #27
Here is the overleaf.
https://www.overleaf.com/8121520yzjysywvdkhb#/28676449/

[2017-04-07 23:33] lewismc commented on #27
Hi @xiaomei7 the paper I was talking about at todays meeting can be found [here](http://www.geosci-model-dev.net/9/3093/2016/). We can use the structure for our paper.
See [here](http://www.geosci-model-dev.net/9/3093/2016/gmd-9-3093-2016.pdf) for the PDF version.
Thanks

[2017-04-08 13:55] browtayl opened #51 "improve mineral classification performance"
this task is to investigate and improve the performance of the [mineral classifier](https://github.com/capstone-coal/pycoal/blob/master/pycoal/mineral.py).

the loop in the `classifyImage` method is the main concern:
[code]
i have [discussed](https://github.com/capstone-coal/pycoal/pull/44#issuecomment-285932470) likely ways to improve performance:
* fix the spectral library at load or before
* pr

[2017-04-08 13:58] ghost commented on #49
At the same rate as the previous image, I estimate that each high-resolution scan over the San Juan mine will take approximately 28 hours to process:
[code]
The first has taken 22 hours so far:
[code]
I have created Issue https://github.com/capstone-coal/pycoal/issues/51 to eventually look into the performance. For now we will have to be content with results trickling in over the next week.

[2017-04-08 16:24] lewismc commented on #49
Thanks for the update. If, at all possible, you are able to provide your opinion on where effciencies can be made and list them here it would be very helpful.

[2017-04-08 16:26] lewismc commented on #51
Ah ha... ok doke please ignore my comment over on #49 thanks.

[2017-04-10 00:24] ghost commented on #49
it's now been upwards of 56 hours, twice my original estimate:
[code]
The running time is probably influenced not only by the number of pixels but by the proportion of no-data pixels. I do have what I need to get started on the mining id and environmental correlation, so I'm inclined to wait and see how long this takes. It may be worth our while to improve efficiency before classifying the rest of

[2017-04-10 00:35] ghost commented on #48
@heidiaclayton @lewismc as discussed in our last meeting, i have bumped this to the new 0.3 milestone which is tentatively due 2017-04-21.

[2017-04-10 00:44] ghost commented on #51
Since performance  [is becoming a problem](https://github.com/capstone-coal/pycoal/issues/49#issuecomment-292824292), I have added this to the 0.3 milestone. The [logging](https://github.com/capstone-coal/pycoal/issues/46) and [profiling](https://github.com/capstone-coal/pycoal/issues/47) issues are on the 0.2 milestone, but we might want to bump those up as well. Either way, I will make an effort

[2017-04-10 01:06] ghost commented on #49
It's worth mentioning that this one image is 25GB, much larger than our previous images:
[code]

[2017-04-10 01:12] ghost commented on #51
* Another subtlety that may affect performance is the order in which pixels are read. My algorithm reads pixels by the column, but it may be that reading by the row would take better advantage of caching.
* Being able to load the whole image into memory would remove file I/O as a factor, but this is not practical on our AWS system for images [which exceed 25GB](https://github.com/capstone-coal/pyc

[2017-04-10 03:32] lewismc commented on #49
Some of the images I've analyzed locally are >35GB...

[2017-04-11 02:16] ghost commented on #49
It finally finished after nearly 70 hours, or almost 3 days:
[code]
It could be worse, but it could be better. It took 2.5 times longer than predicted, but that growth is still comfortably polynomial if not linear. The upshot is that this gives us more confidence that the classifier works even on very large images without crashing. It also provides quality metrics and added motivation for improvin

[2017-04-11 02:21] ghost commented on #51
Here are the relevant specifications of the machine:
[code]

[2017-04-11 03:21] ghost commented on #51
Here are the processing times and dimensions of the images we have seen so far:

[San Juan Mine, Low Resolution](https://github.com/capstone-coal/pycoal/pull/44#issuecomment-286000261) (AVIRIS-NG):
* 11.5 hours
* 88 pixels per second
* 151,257 bytes per second
[code]

[Palisade, Colorado](https://github.com/capstone-coal/pycoal/pull/44#issuecomment-286632396) (AVIRIS-C):
* 6 hours
* 261 pixels per

[2017-04-11 12:11] browtayl opened #52 "add method to classify multiple images"
this issue is to add a `classifyImages` method to the mineral classifier for [processing multiple images](https://github.com/capstone-coal/pycoal/issues/49#issuecomment-291491426).

the big picture is to automate the processing tasks i have been [scripting](https://github.com/capstone-coal/pycoal/issues/49#issuecomment-292422497) by hand. things to take into account include file renaming, director

[2017-04-11 12:32] ghost commented on #46
possible constructor parameter: `logFile=sys.stdout`

here's a logging howto: https://docs.python.org/2/howto/logging.html

[2017-04-11 12:48] ghost commented on #20
as we have discussed, this issue has been reinterpreted to mean providing helper functions for GIS processing of [water quality data](https://github.com/capstone-coal/pycoal/issues/26#issuecomment-285649001). this means finding a relevant data set in the national water quality database, georeferencing it, and plotting it in QGIS.

I think it would be best to push this back to the 0.3 milestone. I

[2017-04-11 13:51] ghost commented on #47
@lewismc is `timeit()` appropriate for profiling production code, or is this something we'd want to implement for testing only?

the end user cares how long it takes to classify a full image, but maybe not how many milliseconds it takes to resample bands or calculate spectral angles for each pixel. in the [processing](https://github.com/capstone-coal/pycoal/issues/49) issue i have just been loggin

[2017-04-11 16:46] lewismc commented on #20
ack

[2017-04-11 16:50] lewismc commented on #49
This is brilliant. I'm going to make best efforts to have the SDS pipeline finished for out meeting this Friday. Can you please point me to some of the classified data products you've produced? Thank you

[2017-04-11 16:52] lewismc commented on #51
Thank you for this, extremely helpful and will go very well in our paper.

[2017-04-11 16:53] lewismc commented on #27
Hi @xiaomei7 are you comfortable making a start on the paper? It would be good if we were in a position to discuss structure and content this coming Friday. Please let me know. Thank you

[2017-04-12 17:06] xiaomei7 commented on #27
HI, @lewismc I'm ready to start on the paper.

[2017-04-12 18:09] lewismc commented on #27
Ok great, can you please start on the structure? Take it directly from the
other paper I provided a link to. You can also start in the introduction,
basically providing context for the project and the structure of the paper.

On Wed, Apr 12, 2017 at 10:06 AM xiaomei7 <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Sk

[2017-04-12 18:46] ghost commented on #49
It looks like another one got classified after 43 hours:
[code]
I won't have time to analyze this till tomorrow.

@lewismc here should be our classified images:
[code]
In general, the new results can be found under the `AVNG_data_distribution/LC` directory and you can check `browtayl/issue-49/classify.log` for current processing status. keep in mind that the server is pretty much at capacity so th

[2017-04-12 19:00] lewismc commented on #49
Thanks for the update

On Wed, Apr 12, 2017 at 11:46 AM Taylor Alexander Brown <
notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-04-14 02:09] ghost commented on #27
one thing we should mention is why we ended up [using](https://github.com/capstone-coal/pycoal/pull/44) spectral angle mapper classification rather than neural networks like we originally thought based on the *Benediktsson, et. al.* paper.

the responses to [heidi's question](https://github.com/spectralpython/spectral/issues/62) provide some good details.  in addition, the maintainer [recommended

[2017-04-14 02:11] ghost commented on #27
the performance issue details our server [specifications](https://github.com/capstone-coal/pycoal/issues/51#issuecomment-293131013) and some initial [timing](https://github.com/capstone-coal/pycoal/issues/51#issuecomment-293138795) results.

[2017-04-14 02:17] xiaomei7 commented on #27
@browtayl Thanks for the updates.

[2017-04-14 02:23] ghost commented on #27
no prob, let me know if i can do anything to help with this over the next few weeks.

[2017-04-14 03:44] browtayl opened #54 "upload winter report"
this issue is to upload our winter report submission to the deliverables folder on google drive and merge relevant changes into our github docs directory.

currently these are in my engineering web space:
* [slides](http://web.engr.oregonstate.edu/~browtayl/cs462/group-18-presentation-winter-final.pdf)
* [code archive](http://web.engr.oregonstate.edu/~browtayl/cs462/group-18-presentation-winter-fi

[2017-04-14 08:29] ghost commented on #27
here are some resources on citing [usgs](https://speclab.cr.usgs.gov/spectral.lib06/ds231/index.html), [aster](https://speclib.jpl.nasa.gov/), and [xsede](https://www.xsede.org/how-to-acknowledge-xsede).

[2017-04-14 10:14] ghost commented on #51
The last two images each took 43 hours to classify at 20GB apiece:
[code]

[2017-04-14 10:56] ghost commented on #52
we might consider a parallel/multi-threaded implementation for the multiple classifier, especially if we get an XSEDE allocation, since the only shared memory is the spectral library which is not modified. this behavior could be selected by a command-line parameter if we don't want to enable it by default (or implement it here).

[2017-04-14 12:29] lewismc commented on #51
So now all of the current AVIRIS flight lines have been classified?

[2017-04-14 12:39] ghost commented on #51
@lewismc negative, there are several more to go. i meant "last" as in "most recent".

[2017-04-14 12:54] lewismc commented on #51
ack

[2017-04-14 13:56] ghost commented on #49
i analyzed some of our new results as described in the [mining classification pull request](https://github.com/capstone-coal/pycoal/pull/55). the mining classifier allows us to easily generate georeferenced classified files containing only the pixels we want to know about. when all the high-res san juan images have been processed we will have the most complete picture available.

[2017-04-14 14:02] ghost commented on #19
new pull request https://github.com/capstone-coal/pycoal/pull/55 with working implementation

[2017-04-14 18:30] lewismc commented on #27
@xiaomei7 please scrap the thought of us submitting this manuscript to the geosci-model-deb opne access journal (publication fees are ~$75 per page)...
Instead we will submit this to [Elsevier's Computers and Geosciences](https://www.journals.elsevier.com/computers-and-geosciences/).
Here is an [author information pack](https://www.elsevier.com/journals/computers-and-geosciences/0098-3004?generate

[2017-04-14 20:20] ghost commented on #19
merged and closed. the algorithm filters the mining pixels from the mineral image and produces a nice georeferenced, classified image.

time is not a significant factor for this stage, on the order of a minute on my personal computer.

future work can focus on broadening our curated set of classes corresponding to coal mining, for example relevant classes in ASTER. it would also be possible for en

[2017-04-14 20:22] #19 closed

[2017-04-14 20:48] lewismc commented on #19
Ack good work

On Fri, Apr 14, 2017 at 1:22 PM Taylor Alexander Brown <
notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-04-14 22:10] xiaomei7 commented on #27
@lewismc Thanks. BTW, do you want me just write on the Overleaf, like replace the original content?

[2017-04-14 23:18] lewismc commented on #27
Yes please
Thank you

On Fri, Apr 14, 2017 at 3:10 PM xiaomei7 <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-04-15 07:18] browtayl opened #56 "attribute JPL imagery"
this issue is to attribute JPL imagery such as our escondida avatar per the [JPL image policy](https://www.jpl.nasa.gov/imagepolicy/). this affects the website, slides, and poster. not sure how to attribute the AVIRIS imagery.

[2017-04-15 07:45] browtayl opened #57 "tests for mining classification"
this issue is to implement tests for mining classification. these will be almost identical to the [mineral classification tests](https://github.com/capstone-coal/pycoal/issues/36) and serve as a sanity check for future modifications.

[2017-04-15 10:25] lewismc opened #58 "build python documentation..."
@xiaomei7 can you please investigate why the python documentation is not building.
Let me know if you are struggling and I can help...
Than you very much.

[2017-04-15 12:33] ghost commented on #20
To complement the national hydrography dataset downloaded previously for environmental analysis, I have acquired topographic contours from the National Map for the Shiprock E, New Mexico [region](https://www.sciencebase.gov/catalog/item/581d24cae4b08da350d59238). The contours are in FileGDB format which (c'est la vie) is not supported by the outdated GDAL library linked with QGIS. This is fixed in

[2017-04-15 12:42] ghost commented on #20
Here's a [more detailed picture](https://drive.google.com/open?id=0BxysdOuBmaIGTXdrTThFWEU4RUk).

[2017-04-15 12:47] ghost commented on #20
And a [close-up](https://drive.google.com/open?id=0BxysdOuBmaIGMjlVbGdidU1zekE) of mine classifications along water features.

[2017-04-15 12:49] ghost commented on #20
Note that the high-res data is much less dense with mine classifications than our original image and shows fewer anomalies. I'm inclined to believe it's more reliable.

[2017-04-15 13:12] ghost commented on #27
here's info on citing the [national hydrography dataset](https://nhd.usgs.gov/Frequently+Asked+Questions+about+the+NHD+&+WBD.htm#_How_should_the) and the [national elevation dataset](https://www.sciencebase.gov/catalog/item/581d24cae4b08da350d59238).

[2017-04-15 16:58] lewismc commented on #20
This is really cool.
A quick question here @browtayl with regards to the manual orientation we are currently required to do when loading classified data products into QGIS e.g.
 * conversion of FileGDB to Shapefile, and
 * the other orientation issue you addressed with your patch o GDAL
Is is wise to open tickets which add address these issues wherever they are required in the pycoal workflow?

[2017-04-15 23:38] ghost commented on #51
The latest image took 42 hours:
[code]

[2017-04-15 23:56] ghost commented on #49
Another image came in after [42 hours](https://github.com/capstone-coal/pycoal/issues/51#issuecomment-294324084). There are still 5 images to go:
[code]
I estimate it will take 9 days to finish classifying the rest of the high-res San Juan Mine images:
[code]

[2017-04-16 00:41] ghost commented on #20
Another image [came in](https://github.com/capstone-coal/pycoal/issues/49#issuecomment-294324683) and there are five more to go. I applied the mining classifier and plotted another [overview](https://drive.google.com/open?id=0BxysdOuBmaIGNzJyRnBsNm14TUE) and [detail](https://drive.google.com/open?id=0BxysdOuBmaIGRk1YbXBtTXNfTHM) as before. The additional data show more evidence of acid mine draina

[2017-04-16 02:47] ghost commented on #51
A significant change to our algorithm might be able to reduce processing time from L2 to mining-classified image by two orders of magnitude, e.g., from 43 hours to 26 minutes. However, this would require additional development and lose useful intermediate data products.

Currently mineral classification calculates spectral angles for every one of the ~1000 classes in the spectral library and selec

[2017-04-16 08:15] browtayl opened #59 "add RGB method"
This issue is to add a method to generate RGB images from raw hyperspectral data as mentioned in issue https://github.com/capstone-coal/pycoal/issues/20#issuecomment-294326136 .

Generating three-band images in visible light or other spectra will aid in interpreting surface features that are not obvious in classified images. The [`save_rgb`](http://www.spectralpython.net/class_func_ref.html#save-r

[2017-04-16 08:18] ghost commented on #58
my assumption is that the build failures (e.g., due to pylint) prevent the docs from being built. perhaps it would be possible to build the docs before running the tests.

[2017-04-16 08:36] browtayl opened #60 "add method to remove unused class names"
This issue is to add a method to remove unused class names from mineral classified image metadata.

Currently the name of every class in the spectral library is copied to the image metadata regardless of whether it is actually present in the image. As a result, it can be difficult to analyze mineral classified images in QGIS with the default color scheme. The [classified Craig image](https://drive

[2017-04-16 08:46] ghost commented on #20
One relatively painless thing I could do is use [checkinstall](https://wiki.debian.org/CheckInstall) to package up the the GDAL and QGIS builds for redistribution. This would make them easy to share. It would introduce a soft dependency on an x86_64 Debian-based system (Debian, Ubuntu, Linux Mint, etc.).

It would be less painless to distribute a virtual machine image containing preinstalled softw

[2017-04-16 09:06] ghost commented on #51
I'm going to push this back to the [0.4](https://github.com/capstone-coal/pycoal/milestone/5) milestone because it's sort of open ended, because initial processing [won't be done](https://github.com/capstone-coal/pycoal/issues/49) for another week, and because we don't yet have an XSEDE allocation.

My first choice would be to simply add an option to load the whole file in memory. Barring signific

[2017-04-16 10:32] ghost commented on #20
I downloaded [road data](https://www.sciencebase.gov/catalog/item/581d6769e4b0dee4cc8e5c28) from the National Transportation Dataset which appears to be more accurate than the OpenStreetMap data I downloaded through QGIS. Here's an [overview](https://drive.google.com/open?id=0BxysdOuBmaIGMW5xRFc4VWkzZlE) with this data.

Here are some close-ups of the mine classifications around a [pond](https://d

[2017-04-16 10:33] ghost commented on #27
...and the [national transportation dataset](https://www.sciencebase.gov/catalog/item/581d6769e4b0dee4cc8e5c28).

[2017-04-16 11:08] ghost commented on #20
Here's a [tutorial](http://www.qgistutorials.com/en/docs/making_a_map.html) on using QGIS to generate print-quality maps. This will give us a nicer final product than the screenshots I have been sharing.

[2017-04-16 11:12] ghost commented on #20
It's interesting to note that now that we have mine pixels intersecting with streams and water bodies it would be possible to do the overlay thing we talked about months ago. I think that the water quality measurements will end up being more educational, however.

[2017-04-16 11:49] ghost commented on #27
What's the timeframe for this paper? Currently the milestone is set at [1.0](https://github.com/capstone-coal/pycoal/milestone/3), when our development for the course ceases on 2017-05-12. However, I for one would be willing to contribute during the month remaining from Expo to the end of the term on 2017-06-17. This might take some of the pressure off. We did [indicate](https://github.com/capston

[2017-04-17 04:33] ghost commented on #54
the winter final [slides](https://drive.google.com/open?id=0BxysdOuBmaIGblB1UGk4SURHbE0), [slideshow](https://drive.google.com/open?id=0BxysdOuBmaIGTl9oV2NxTUM0TFE), [hypercube demo](https://drive.google.com/open?id=0BxysdOuBmaIGS3JQN3dJV2t2bjQ), and [gis demo](https://drive.google.com/open?id=0BxysdOuBmaIGLXozeXNOSmdMWmM) have been uploaded to the deliverables folder on google drive. note that gi

[2017-04-17 04:50] ghost commented on #54
pull https://github.com/capstone-coal/pycoal/pull/61 commits the presentation source.

[2017-04-17 05:12] browtayl opened #62 "backup github"
this issue is to backup our github repositories, issues, and wikis.

much of our research and development has taken place on github which is a proprietary hosting service. outages, although rare, have affected our team in the past. we cannot necessarily depend on github to preserve our work into the future. a backup of our work would be helpful for archival and scientific purposes once the senior

[2017-04-17 10:41] ghost commented on #57
@lewismc implemented in pull https://github.com/capstone-coal/pycoal/pull/63

[2017-04-17 16:16] lewismc commented on #57
ack

[2017-04-17 16:18] lewismc commented on #62
ack
Amazon Glacier?

[2017-04-18 01:11] #57 closed

[2017-04-18 01:11] #54 closed

[2017-04-18 02:50] ghost commented on #51
I believe that the algorithm change I mentioned [above](https://github.com/capstone-coal/pycoal/issues/51#issuecomment-294330086) could be accomplished fairly elegantly, giving us the best of both worlds given sufficient development time. In summary, the mineral classifier constructor could be augmented with optional parameters `classList=None` and `threshold=None`.
* The class list would specify

[2017-04-18 02:56] browtayl opened #65 "add subset and threshold parameters to mineral classifier"
this issue is to add parameters to the mineral classifier constructor to compute spectral angles for a subset of the spectral library and filter by threshold as proposed in issue https://github.com/capstone-coal/pycoal/issues/51#issuecomment-294659164.

since spectral angles appears to be the most intensive part of our algorithm, much time could be saved by reducing the number of classes to compar

[2017-04-18 03:00] ghost commented on #56
* the second draft of the poster now properly attributes the escondida mine image.
* the slides do cite the imagery but do not use the "Courtesy NASA/JPL-Caltech" credit line.
* the website could potentially put the credit line in the alt text so it doesn't clutter the carousel.

[2017-04-18 03:02] ghost commented on #56
@lewismc do we need to cite the AVIRIS data itself, and if so how? in general we are only sharing derived products.

[2017-04-18 19:02] lewismc commented on #56
No it's OK.

[2017-04-19 02:07] #59 closed

[2017-04-19 02:22] #60 closed

[2017-04-19 02:27] ghost commented on #52
@lewismc since you're implementing batch processing in the [sds](https://github.com/capstone-coal/coal-sds), do you think there's still value in implementing this method? i ask because we now have not one image processing method but several for various use cases.

[2017-04-19 02:42] ghost commented on #58
@lewismc possible solution in pull https://github.com/capstone-coal/pycoal/pull/68

[2017-04-19 02:45] ghost commented on #58
there's also this error in the [build log](https://travis-ci.org/capstone-coal/pycoal/jobs/223396479):
[code]

[2017-04-19 03:23] ghost commented on #56
@lewismc  i [addressed](https://github.com/capstone-coal/capstone-coal.github.io/pull/24#issuecomment-295056594) the attribution in the website. because the slides link to the source and because they haven't been published anywhere, i suggest we just close this issue and address attribution [when necessary](https://github.com/capstone-coal/capstone-coal.github.io/issues/11).

[2017-04-19 03:33] ghost commented on #46
my processing [script](https://github.com/capstone-coal/pycoal/issues/49#issuecomment-292422497) currently implements rudimentary logging by hand. unassigning self while i focus on higher priority issues. this issue could be put off to a later milestone when the code is more mature. note that the static methods would need to be made into instance methods if logging is handled by the class construc

[2017-04-19 03:38] ghost commented on #49
i found when investigating issue https://github.com/capstone-coal/pycoal/pull/67#issue-222380252 that the first high-res image, the 70-hour one, was processed incorrectly due to an unknown error. the result that every class in the image had the value 1. it should be possible to reclassify that image to see what might have gone wrong.

i expect several more images have been classified by now, so i'

[2017-04-19 03:41] ghost commented on #36
@heidiaclayton  you'll want to merge or rebase onto the latest version of `master` which contains a number of changes including several tests of the other methods. or let me know if you'd like to trade for any of my issues.

[2017-04-19 04:52] lewismc commented on #56
ACK

[2017-04-19 04:52] #56 closed

[2017-04-19 06:17] lewismc commented on #27
@browtayl we need to start working on it... 2 weeks ago. These things take time and as I am very busy it will take longer than usual. I am not sure how much experience you all have writing papers, but it is far from easy. It is very time consuming and we need to get cracking on it.
@xiaomei7 anything happening here? If you need some assistance then please let me know here or else let me know offli

[2017-04-19 08:49] ghost commented on #65
subsetting an `AsterDatabase` can be implemented by simply passing the desired classes to the [`create_envi_spectral_library`](http://www.spectralpython.net/class_func_ref.html#spectral.database.AsterDatabase.create_envi_spectral_library) method during conversion. the [source](https://github.com/spectralpython/spectral/blob/f942c6aea3894194f407545603ea6d3d50b193d1/spectral/database/aster.py#L498-L

[2017-04-19 15:42] xiaomei7 commented on #27
@lewismc Hi, I'm trying to refine some sentences that I wrote or copied from some introduction paragraph from our main page of pycoal. But I'm kind of confused by the difference between abstract and the introduction.

[2017-04-19 15:44] lewismc commented on #27
If you read the last paper I referenced, then you will see what the structure is and what content goes where.
Please never mind the Latex template, just start a google doc and I will contribute the material alongside you.
Thank you @xiaomei7

[2017-04-19 15:52] xiaomei7 commented on #27
@browtayl Thanks, I would post all the progress no later than tomorrow!

[2017-04-19 15:52] xiaomei7 commented on #27
@lewismc Thanks, I would post all of my progress no later than tomorrow!

[2017-04-20 07:19] ghost commented on #65
noting that it would also be possible to store the confidence values rather than throwing them away. then suitable pixels could be chosen on demand rather than during classification. this would generate an additional raster file with a float data type and methods for filtering by value. this would be most useful for use case (1) in which end users could efficiently select classifications from prep

[2017-04-20 07:46] ghost commented on #27
@lewismc understood, the heat is still on. my specific question is what is the desired target date for a final draft of the paper? expo is on 2017-05-19 and the end of the term is 2017-06-17.

@xiaomei7, @heidiaclayton, and i will make sure this gets done, and done well. our TA reminded us today that this was one of our "stretch goals". although it will be a stretch to pull it together, having a r

[2017-04-20 07:57] browtayl opened #70 "DON'T PANIC"
in light of the time pressure regarding the [research paper](https://github.com/capstone-coal/pycoal/issues/27) and the rest of the work all of us have to do, i thought it would be pertinent to file [this issue](https://en.wikipedia.org/wiki/Phrases_from_The_Hitchhiker's_Guide_to_the_Galaxy#Don.27t_Panic) which has been on my to-do list for a while.

[2017-04-20 08:11] lewismc commented on #70
lol

[2017-04-21 22:20] xiaomei7 commented on #27
@lewismc Hi, I already posted some structure on the overleaf based on my understanding about the paper; but we need more information about what @browtayl has mentioned above to make more progress.

Thanks!

[2017-04-21 22:37] ghost commented on #47
reference to @heidiaclayton's previous [discussion](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/coal-capstone/5MzGiE1qZYk/49DVyWRODQAJ) on cprofile.

[2017-04-21 23:10] ghost commented on #48
as mentioned, adding a method to convert the ASTER database to sqlite would be useful.

[2017-04-21 23:22] ghost commented on #52
@lewismc today @heidiaclayton and i concurred that this issue should be closed since the systematic batch processing is happening in the sds. reopen this issue if it is desired to implement a multiple image classifier within the class.

[2017-04-21 23:22] #52 closed

[2017-04-21 23:30] lewismc commented on #27
Hi @xiaomei7 thank you for making a start on the Overleaf... for the time being, can you just transition this over to a Google Doc and we can contribute there? I think overleaf is overkill at this stage. Thank you

[2017-04-23 02:41] ghost commented on #27
@lewismc @xiaomei7 created a google doc in the capstone-coal google drive directory which I renamed to "Research Paper Draft".

[2017-04-23 03:06] xiaomei7 commented on #27
https://docs.google.com/document/d/1yl1uOp_FHm3vbfW848M6CgjxJl81CsZIJ0xmUq-hA6Y/edit

[2017-04-23 03:15] ghost commented on #58
I have verified that the service is enabled in the GitHub dashboard. I have also verified that our 0.2.0 [version](https://docs.readthedocs.io/en/latest/versions.html) is not detected.

@lewismc ~You might want to verify that your Read The Docs account [imports](https://docs.readthedocs.io/en/latest/getting_started.html#import-your-docs) the correct GitHub repository name. I don't believe I have a

[2017-04-23 03:19] ghost commented on #58
Scratch that, the Read The Docs [project page](http://readthedocs.org/projects/pycoal/) appears to see the correct URL. I triggered a build manually and the docs were updated (with the commit that introduced my middle name), however the source code is not detected. Now that it is confirmed that the server is set up correctly, I'm gonna dig around in the source for problems.

[2017-04-23 03:29] ghost commented on #58
It's possible that the `.rst` files need to reference our fully-qualified modules, e.g., `pycoal.mineral.MineralClassification` rather than `mineral.MineralClassification`. However, since I can call `make html` successfully this may not be the problem either.

[2017-04-23 03:31] ghost commented on #58
There is also info on [deleting stale builds](https://docs.readthedocs.io/en/latest/builds.html#deleting-a-stale-or-broken-build-environment).

[2017-04-23 03:43] ghost commented on #49
Three more images have been classified:
[code]
Two more remain.

[2017-04-23 03:46] ghost commented on #51
The last three images to be classified took a similar amount of time to the previous high-res images:
[code]

[2017-04-23 04:11] ghost commented on #20
as part of this issue i will share my QGIS project file which can be used to replicate my environmental correlation efforts.

[2017-04-23 04:39] ghost commented on #49
As [before](https://github.com/capstone-coal/pycoal/pull/55), I used our mining classifier like so:
[code]
I had to workaround the GDAL problem again like so:
[code]
[Recall](https://github.com/capstone-coal/pycoal/issues/20#issuecomment-294326136) that this will not be necessary once I compile the upcoming GDAL release into QGIS.

The results are pretty cool so I'll be sharing them shortly in the

[2017-04-23 04:39] ghost commented on #20
@lewismc @heidiaclayton @xiaomei7 The [latest](https://github.com/capstone-coal/pycoal/issues/49#issuecomment-296419220) mining-classified imagery has added some dramatic new data points. Check out these overviews [with](https://drive.google.com/open?id=0BxysdOuBmaIGa0doaU1lcjVkdkU) and [without](https://drive.google.com/open?id=0BxysdOuBmaIGZ3NYbjdNVHBBbkE) the low-res scan, and this [detail](htt

[2017-04-23 05:01] ghost commented on #20
it is clear that there are significant concentrations of mine classifications following waterways and roads. it is even possible to distinguish opposing stream banks. note also that there are more red pixels ("sludge") where the coal conveyor and pile is.

it's not obvious why some of the scans seem to be so much more dense. here is where the [threshold](https://github.com/capstone-coal/pycoal/iss

[2017-04-23 05:05] ghost commented on #20
here's a closer [close-up](https://drive.google.com/open?id=0BxysdOuBmaIGdkFTMVNrdVRBN2M) clearly showing mine classifications along streams and roads. it's remarkable how well these line up with the transport and hydro data.

[2017-04-23 07:12] ghost commented on #20
a couple more close-ups of [streams](https://drive.google.com/open?id=0BxysdOuBmaIGY2RDNDFyaXlRREU) and [excavation](https://drive.google.com/open?id=0BxysdOuBmaIGcTMtOGZvQmdTOWs).

[2017-04-23 09:07] ghost commented on #20
It looks like the data I downloaded from the [Water Quality Portal](https://www.waterqualitydata.us/portal/) might not be that helpful. I have been analyzing CSV files with LibreOffice Calc. Recall that acid mine drainage is broadly described as the transition of iron sulfide (pyrite) into an array of secondary compounds with acidic chemistry. The water quality data is even more sparse than the po

[2017-04-23 14:04] ghost commented on #65
@lewismc i have added a copy of the paper "Mineralogical mapping of southern Namibia by application of continuum-removal MSAM method to the HyMap data", the basis of the [modified spectral angle mapper (MSAM) algorithm](http://www.spectralpython.net/class_func_ref.html#spectral.algorithms.algorithms.msam), to the `literature/remote_sensing` directory of our google drive. the paper reports addition

[2017-04-23 14:44] ghost commented on #65
the [SAM implementation](https://github.com/spectralpython/spectral/blob/5add07c94d306fb808470795a637effad9fdf956/spectral/algorithms/algorithms.py#L1311) actually does not look that different from MSAM. the return value of SAM is the arc cosine of the spectral angle which [presumably](https://en.wikipedia.org/wiki/Inverse_trigonometric_functions#Relationships_among_the_inverse_trigonometric_funct

[2017-04-24 06:53] ghost commented on #65
@lewismc i implemented this in pull https://github.com/capstone-coal/pycoal/pull/74 and merged it into `development` per pull https://github.com/capstone-coal/pycoal/pull/73. developing and testing this provided some valuable information on interpreting our classifications. my original assumption was that subsetting the library and setting a threshold would produce results equivalent to the mining

[2017-04-24 07:01] ghost commented on #36
i'm going to go ahead and close this since it has been merged into `development`.

[2017-04-24 07:01] #36 closed

[2017-04-24 07:02] #65 closed

[2017-04-24 07:18] ghost commented on #51
i [found](https://github.com/capstone-coal/pycoal/issues/65#issuecomment-296545183) that subsetting and thresholding does not produce the same results as mineral classification followed by mining classification, though it does save time and add value. computing results for a large spectral library improves the quality of our data, so we may wish to look elsewhere for places to improve. my next bes

[2017-04-24 11:49] ghost commented on #58
@lewismc I set up my own Read The Docs account and got it to work on a branch in my fork:
http://coal.readthedocs.io/en/issue-58-build-documentation-test/

The first problem was that for some reason Read The Docs is not finding the right version. The second is that the class names apparently need to be fully qualified.

I can try to fix things in the PyCOAL account if you add me as `browtayl` in D

[2017-04-26 01:11] ghost commented on #51
the final two images took 44 and 45 hours respectively.

[2017-04-26 01:18] ghost commented on #49
The final two high-res San Juan Mine images have been processed, so now all ten images are done and the server resources are free.

The first image was apparently misclassified due to an unknown error. I will analyze the last two in the environmental correlation issue. Since initial processing is done I'm going to close this issue.

Additional processing, as with subset/threshold classification, c

[2017-04-26 01:18] #49 closed

[2017-04-26 01:30] ghost commented on #58
Fixed in [`development`](https://github.com/capstone-coal/pycoal/pull/73/) per pull https://github.com/capstone-coal/pycoal/pull/75.

[2017-04-26 01:30] #58 closed

[2017-04-26 03:56] heidiaclayton commented on #48
@browtayl @lewismc I'm planning on making another class inside mineral.py to implement ASTER. how does this sound?

[2017-04-26 04:24] heidiaclayton commented on #48
Also, @browtayl , do you know if it's possible to create a general-purpose ASTER .hdr file, or does it have to be resampled for a specific image each time?

   Creates an ENVI-formatted spectral library for a list of spectra.
Arguments:
   spectrumIDs (list of ints):
List of SpectrumID values for of spectra in the “Spectra” table of the ASTER database.
bandInfo (BandInfo):
The spectral bands to wh

[2017-04-26 07:27] heidiaclayton commented on #48
@browtayl I created an ENVI spectral library with the method you used [here](https://github.com/browtayl/coal/commit/1e58d1237811dc8c46da493e3aeb9bb0fe819e9c), however there a lot of no data values in the spectra.

[aster_envi.zip](https://github.com/capstone-coal/pycoal/files/957558/aster_envi.zip)

[2017-04-26 09:31] ghost commented on #48
There are several possibilities here:

1) Make `MineralClassification` take an `asterLibraryFilename` parameter and convert the library to a suitable `SpectralLibrary` instance on instantiation. You have said that this conversion takes ~20 minutes which makes this option sound very inconvenient.
2) Add a method somewhere to convert a raw ASTER database file to a `.sqlite` file and add an `asterDat

[2017-04-26 09:41] ghost commented on #48
Regarding resampling, the image is resampled to the dimensions of the library at classification time, not vice versa. Currently with USGS the images are resampled down to 224 bands. With ASTER I chose 128 arbitrarily, in which case images would be resampled down to same. What we really want is an ideal tradeoff between dimensionality and accuracy, but who knows what that is.

[2017-04-26 09:47] ghost commented on #48
Thanks for taking the lead on this component. Supporting the most extensive spectral library available will add huge value to this project, especially since I [found](https://github.com/capstone-coal/pycoal/issues/65#issuecomment-296545183) in the subset and threshold issue that classifying with a full library gives better results than with a subset. Using ASTER would be an excellent choice for pr

[2017-04-26 09:59] ghost commented on #51
i think what i'll do is add an optional parameter `inMemory=False` to the `MineralClassification` constructor and support loading the full image into memory. we'll need this for testing if we get an XSEDE allocation and it is quite likely where much of the savings lie. then regionwise processing would be irrelevant from a caching perspective. resampling to a smaller dimension would save time, but

[2017-04-26 10:28] ghost commented on #20
Now that the final two images are done, we have the most complete picture of mining classifications: [with](https://drive.google.com/open?id=0BxysdOuBmaIGVmVUVmlaX3I4STA) and [without](https://drive.google.com/open?id=0BxysdOuBmaIGb3hqWGJfSWpfaEE) the low-res image, in the [vicinity](https://drive.google.com/open?id=0BxysdOuBmaIGV3lmRUtPa0s3WGc) of the mine, [along](https://drive.google.com/open?i

[2017-04-26 11:24] ghost commented on #27
see this note from the [AVIRIS site](https://aviris.jpl.nasa.gov/data/index.html) regarding terminology:

[2017-04-27 11:41] ghost commented on #48
@heidiaclayton Currently reviewing your code. One thing I notice about the ASTER library is that although it contains more samples than the USGS library, it only includes a tiny subset from the USGS library. For example, schwertmannite is not in ASTER. Eventually we might want to be able to fully merge the two somehow, but for now ASTER processing is experimental.

[2017-04-27 11:43] ghost commented on #48
Also we probably don't need to be searching for lunar soil lol.

[2017-04-27 11:59] ghost commented on #48
And it appears that the many ancillary files don't contain spectra at all but extra information such as chemistry.

[2017-04-27 13:48] ghost commented on #48
Implemented in pulls https://github.com/capstone-coal/pycoal/pull/76 and https://github.com/capstone-coal/pycoal/pull/77. Being able to convert an ASTER database to an ENVI file without digging around in the Spectral Python docs is super useful, but as previously mentioned extra work might be needed to combine it with the USGS database. I think we can save that for a future issue and consider this

[2017-04-27 13:48] #48 closed

[2017-04-27 14:14] ghost commented on #51
the performance of loading entire images is documented here:
http://www.spectralpython.net/fileio.html#loading-entire-images

[2017-04-27 14:23] ghost commented on #51
implemented in pull https://github.com/capstone-coal/pycoal/pull/78 and merged into [`development`](https://github.com/capstone-coal/pycoal/pull/73). this isn't going to make processing any faster on our servers, but hopefully it will enable higher performance on more powerful systems.

[2017-04-27 14:23] #51 closed

[2017-04-28 02:04] ghost commented on #27
Once I'm out of Code Freeze Hell I will propose an abstract and outline. In the meantime, any resources on research paper writing or feedback on my https://github.com/capstone-coal/pycoal/issues/27#issuecomment-295614786 would be beneficial.

[2017-04-28 04:10] ghost commented on #20
I generated RGB images on the server using the following script in `~/browtayl/issue-20/rgb.py`:
[code]
It produced the following output in `~/browtayl/issue-20/rgb.log`:
[code]
Hopefully I can load these into QGIS to get a more complete picture of the mine.

[2017-04-28 05:05] ghost commented on #20
I had to make a minor modification to the RGB routine to correctly handle No Data pixels. I deleted the above images and am running the converter again. If it works, then I'll merge the fix into `development`.

[2017-04-28 05:57] ghost commented on #20
Testing each pixel for a No Data value increases the RGB running time significantly, even when I load the image from a file. I'm letting it run but it's wasting my time.

[2017-04-28 06:57] ghost commented on #20
When testing for no data pixels, each image is converted to RGB in about ~17 minutes rather than ~40 seconds. The benefit of doing this is that we don't have black bars covering up data in the map. The time cost is puzzling, but maybe it can teach us something about how Spectral Python and/or NumPy handle I/O. In the meantime I'll be working on other things.

[2017-04-28 07:39] ghost commented on #20
The [incoming RGB data](https://drive.google.com/open?id=0BxysdOuBmaIGQ2U0LWtRS1hlVEE) is actually really interesting and helps with the environmental correlation. You can see some of the limitations of the National Hydrography Dataset in places where visually there appear to be [drainage ditches](https://drive.google.com/open?id=0BxysdOuBmaIGdFhlcDdaOUZ1dXc) corresponding to some of the coal clas

[2017-04-28 09:17] ghost commented on #20
Here you can see [the full region](https://drive.google.com/open?id=0BxysdOuBmaIGZ05BY0RONVhmeWc) in RGB and with mining classifications. The [dense region](https://drive.google.com/open?id=0BxysdOuBmaIGaHF2T0JSMnlMYkk) in the center definitely corresponds to the excavation and processing facility. A closer look at the [arroyo](https://drive.google.com/open?id=0BxysdOuBmaIGbW1JdFdEZkNNdXM) shows h

[2017-04-28 10:43] ghost commented on #20
GDAL has some nice command-line tools so I might be able to save time by calling out to the shell as an unfortunate kluge.

[2017-04-28 11:46] ghost commented on #20
I uploaded my build of GDAL to a new software directory on Google Drive. It is a [Debian package](https://drive.google.com/open?id=0BxysdOuBmaIGWHdRWDhsY291MVE) for the amd64 architecture. It may be necessary to install additional dependencies, in which case let me know. Presumably this build won't work on our Amazon Linux server, though it might be possible to convert it to an RPM with [Alien](ht

[2017-04-28 16:43] xiaomei7 commented on #27
I was adding contents every day for past week or so, but I'm not sure I'm on the right track or not. Feedback is much appreciated.

[2017-04-28 20:21] lewismc commented on #27
I've added a lot of structure and guidance to the paper outline. Please review and start hacking away if and where you feel you want to. Once I get a good opportunity to do so, I will hammer my way through it as well. Thank you @xiaomei for bootstrapping the paper and also thank you to you @ browtayl for adding content as well.

[2017-04-29 01:00] ghost commented on #70
@lewismc @heidiaclayton @xiaomei7 sorry for losing my cool. this is what it must feel like when your space probe is careening towards a planet and you only have a couple days to avert a collision.

[2017-04-29 09:38] ghost commented on #20
I successfully built QGIS against the updated GDAL so all of that rotation business is no longer needed. Unfortunately I was unable to use either `checkinstall` or `dpkg-buildpackage` so a plain old `make install` was necessary.

I also successfully used `gdal_rasterize` to rasterize the National Hydrography Dataset onto an AVIRIS scene. Next to generate the proximity and intersection.

[2017-04-29 09:55] ghost commented on #20
Interestingly, the nonrotated RGB images generated by PyCOAL look better than the workaround warped ones. This is an unexpected benefit of using a proper build of QGIS.

[2017-04-29 10:07] heidiaclayton opened #82 "Error installing Pycoal"
Hi guys,
I tried installing pycoal via "sudo pip install pycoal" and got this error:

[code]

[2017-04-29 12:03] ghost commented on #20
@lewismc I have succeeded in converting vector to raster, generating a proximity map, and intersecting mine classifications. I was able to implement the module as a wrapper around `gdal_rasterize`, `gdal_proximity.py`, and Spectral Python which is called like so:
[code]
This selects all mine classification pixels that are within 10 meters of a flowline in the National Hydrography Dataset. You can

[2017-04-29 12:37] ghost commented on #20
It [looks like](https://drive.google.com/open?id=0BxysdOuBmaIGXzFoZldrNzB5Tms) the units are a bit off. I wanted 10 meters and got 40. Guess I'll have to look into that. Still, the basic functionality is there.

[2017-04-29 19:44] ghost commented on #20
Fixed the issue with the units so the distance [comes out right](https://drive.google.com/open?id=0BxysdOuBmaIGSUxkQ0h1aUNkZFk).

[2017-04-29 20:59] ghost commented on #20
I ran the environmental correlation over all the high resolution San Juan images against the National Hydrography Dataset flowlines which you can see in this [overview](https://drive.google.com/open?id=0BxysdOuBmaIGMWo5dEhNZEpGX00). This identifies all mine pixels within ten meters of a stream and preserves the classification types. It doesn't necessarily tell us anything we didn't already know, b

[2017-04-29 22:26] ghost commented on #20
I implemented a unit test using vector and raster [subimages](https://drive.google.com/open?id=0BxysdOuBmaIGd1l6aEl2dHB4VU0) created with QGIS and GDAL. The process for creating these subimages is described in the test file.

[2017-04-29 23:03] ghost commented on #20
The [unit test](https://github.com/capstone-coal/pycoal/pull/85) is [skipped](https://docs.python.org/2.7/library/unittest.html#unittest.skipIf) on the test server because the proper version of GDAL is not installed. It might be possible to pull in the .deb file I generated above, but for now the test can be run locally with `nosetests` as long as the `CONTINUOUS_INTEGRATION` [environment variable

[2017-04-29 23:23] ghost commented on #20
@lewismc The environmental correlation module now implements the basic functionality for overlaying mine classifications and water data to within some distance in meters. Note that the intermediate feature and proximity rasters are also written to the output directory.

GDAL is invoked through a subprocess call rather than the Python interface, so it is necessary to have the proper version install

[2017-04-29 23:23] #20 closed

[2017-04-29 23:25] ghost commented on #20
As part of this issue I also built GDAL and QGIS from source which will be documented on the website.

[2017-04-30 07:48] ghost commented on #27
Dropping a reference here to the [screenshots](https://drive.google.com/open?id=0BxysdOuBmaIGancyeG01QlUtZ0E) directory on Google Drive which contains all of the images I've discussed throughout multiple email and GitHub threads. Let me know if it is desired to generate a print-quality version of any of these.

I recently uploaded some interesting visible light + mining classified screenshots that

[2017-04-30 07:57] ghost commented on #27
And here's a view of the [power plant](https://drive.google.com/open?id=0BxysdOuBmaIGRU5NUEpXeVI1ekE) which we have [seen before](https://www.flickr.com/photos/wildearth_guardians/6338300043).

[2017-04-30 11:03] ghost commented on #82
Confirmed on the AWS machine:
[code]
[Recommend](https://github.com/capstone-coal/pycoal/pull/73/#issuecomment-298202347) we release 0.5.0. Assigning to @lewismc for publishing to PyPi or revision. Note that I already updated the version numbers and pushed the 0.5.0 tag per https://github.com/capstone-coal/pycoal/wiki/Release.

[2017-04-30 11:04] ghost commented on #82
Just to clarify, the release would either confirm or disconfirm that this is still an issue with the latest codebase.

[2017-04-30 11:08] heidiaclayton commented on #82
I didn't get this error back when we first released 0.1.

[2017-04-30 11:19] browtayl opened #86 "COAL, coal, PyCOAL, Pycoal, pycoal"
Currently all five variations "COAL", "coal", "PyCOAL", "Pycoal", and "pycoal" are in use in our code and documentation:
[code]
And on the website:
[code]
This was discussed in a [previous issue](https://github.com/capstone-coal/pycoal/issues/32) but not resolved. A decision made was to refer to the project as "COAL" and the Python package as `pycoal`. This issue could either update the code and d

[2017-04-30 11:23] ghost commented on #82
Seems to point to [these lines](https://github.com/capstone-coal/pycoal/blob/cfcb93ec7f10d661dcf154ee835c79c238035d2d/setup.py#L49-L57) which haven't changed in the past three tags.

[2017-04-30 11:24] heidiaclayton commented on #82
Maybe the path to the readme isn't correct anymore?

[2017-04-30 11:25] ghost commented on #86
Also affects the [Wiki](https://github.com/capstone-coal/pycoal/wiki).

[2017-04-30 11:33] ghost commented on #82
`README.md` does not appear to have moved. However I don't really understand what those lines are doing.

[2017-04-30 11:47] browtayl opened #87 "Add GDAL dependency"
The [environmental correlation](https://github.com/capstone-coal/pycoal/issues/20) module currently wraps the GDAL command-line utilities `gdal_rasterize` and `gdal_proximity.py`. GDAL 2.2.0 hasn't been released yet so I had to use a preliminary build. I don't know whether installing GDAL via Python will bring in those command-line utilities. Ideally we would use the GDAL Python API, but that's ha

[2017-04-30 11:48] ghost commented on #87
Setting to blocked while we wait for GDAL 2.2.0. It's [scheduled](https://trac.osgeo.org/gdal/milestone/2.2.0) for May 1.

[2017-04-30 11:50] heidiaclayton commented on #87
Shoot, I forgot to put the version number in introduction.rst. I put GDAL but no version.

[2017-04-30 11:57] ghost commented on #87
No big deal since the version doesn't exist yet. Before the code freeze my plan was to wait for the release to deal with it. The code in tag 0.5.0 isn't perfect, but it meets our basic needs. We can polish things in future revisions. If you want to make changes, I recommend pulling against `development`, but it's not something I'm gonna worry about before May 1.

[2017-05-01 00:42] ghost commented on #82
Looks like we could test the install locally, so we could try to debug this before a release:
https://packaging.python.org/installing/#installing-from-a-local-src-tree

[2017-05-01 02:56] lewismc commented on #82
ACK I can reproduce. Debugging right now.

[2017-05-01 03:27] lewismc commented on #86
ACK, lets stick with the following _"...to refer to the project as "COAL" and the Python package as pycoal"_

[2017-05-01 03:30] ghost commented on #86
Sure thing, apologies for the inconsistent usage. Assigning to self to make the changes which can be merged in a future revision. This will include changes to the image metadata.

[2017-05-01 07:38] ghost commented on #27
The USGS Digital Spectral Library 07 was just released on 2017-04-10:
https://speclab.cr.usgs.gov/spectral-lib.html#current
https://pubs.er.usgs.gov/publication/ds1035

We have been using the 06 version. Be interesting to see what they added.

[2017-05-01 09:06] #70 closed

[2017-05-01 09:31] browtayl opened #88 "Update Wiki"
A few of the pages on the [wiki](https://github.com/capstone-coal/pycoal/wiki) are out of date.

[2017-05-01 18:55] lewismc commented on #70
No problem @browtayl no offense taken and none meant.

[2017-05-01 23:11] ghost commented on #88
@heidiaclayton fixed the mineral classification page on the wiki which was the only thing out of date, so this issue is resolved.

[2017-05-01 23:11] #88 closed

[2017-05-05 22:32] ghost commented on #87
As of today the GDAL 2.2.0 release is 4 days behind schedule. Glad I didn't wait for it.

[2017-05-16 00:45] ghost commented on #27
@lewismc No meaningful progress is being made here. If there are no substantive changes by 2017-05-19 I will unassign @xiaomei7 and take this over.

[2017-05-17 08:49] ghost commented on #27
Here are some interesting resources regarding AVIRIS operations after the Deepwater Horizon oil spill:
https://aviris.jpl.nasa.gov/html/gulfoilspill.html
https://pubs.usgs.gov/of/2010/1101/
https://pubs.er.usgs.gov/publication/70036149
https://www.researchgate.net/publication/261076420_Oil_Slope_Index_An_algorithm_for_crude_oil_spill_detection_with_imaging_spectroscopy

It might be interesting to

[2017-05-17 09:18] ghost commented on #87
Unblocked now that GDAL 2.2.0 has been released:
https://trac.osgeo.org/gdal/wiki/Release/2.2.0-News

[2017-05-17 09:25] browtayl opened #90 "Consider Using Interview"
The [COAL review interview](https://groups.google.com/forum/#!topic/coal-capstone/MpNIhaXzl1s) I posted to the mailing list is a potential resource for adding frequently asked questions or less technical language to our project. This issue is simply to consider whether to do anything with these or similar materials.

[2017-05-17 09:28] browtayl opened #91 "Expo Blog Post"
This issue is to write a blog post describing our Expo presentation on 2017-05-19.

[2017-05-17 09:30] browtayl opened #92 "Take Server Offline"
This issue is to prepare to take the server offline. We will want to store key data products and save any other useful files.

[2017-05-17 09:31] ghost commented on #92
Setting to blocked while we figure out whether to use it for any last-minute processing.

[2017-05-17 09:38] browtayl opened #93 "GIS Bundle"
This issue is to bundle up and share the COAL data products and QGIS configuration so that they can be easily viewed. Currently most of these files are on my personal development machine. In addition, I will see if it's feasible to share a GNU/Linux build of GDAL and QGIS.

[2017-05-17 15:26] lewismc commented on #87
RESULT. Congratulations... this is pretty major indeed!

[2017-05-18 20:19] xiaomei7 commented on #27
Question: is our development style agile?

[2017-05-18 20:21] lewismc commented on #27
yes I would say it has been pretty agile. I mean we have not followed the methodology to the T, however generally speaking development has been pretty agile in nature.

[2017-05-19 00:33] lewismc commented on #82
I'm going to work on this and make sure it is OK.

[2017-05-19 15:25] lewismc opened #94 "Implement Coveralls"
[Coveralls](https://coveralls.zendesk.com/hc/en-us) is a web service to help you track your code coverage over time, and ensure that all your new code is fully covered. We should implement it as part of the build system.

[2017-05-19 16:03] #82 closed

[2017-05-19 16:31] lewismc opened #96 "Release 0.5"
Hi Folks, is there anything currently blocking the 0.5 release?
Thanks

[2017-05-19 23:10] lewismc commented on #87
OK @browtayl what is the process forward here, it would be nice to get this resolved before I release 0.5. Please let me know and I can make it happen. Thanks.

[2017-05-20 07:02] heidiaclayton commented on #96
I can't think of anything right now except 1) fix for installation 2) adding GDAL dependency.

[2017-05-20 15:11] lewismc commented on #96
Hi Hedi,
I fixed installation issue so 1 is sorted.
2 requires a bit more work unfortunately.
Thank you for detailing

On Sat, May 20, 2017 at 12:02 AM heidiaclayton <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-22 04:28] ghost commented on #91
Cross-reference to mailing list posting regarding our Expo coup:
https://groups.google.com/forum/#!topic/coal-capstone/zYDx7wwtca0

[2017-05-22 04:45] ghost commented on #87
As [mentioned](https://groups.google.com/d/msg/coal-capstone/zYDx7wwtca0/6UynsGoZBAAJ) on the mailing list, resolution depends on whether 1) 2.2.0 is in PyPI, and 2) that installs the command-line tools. In addition, the environmental correlation unit test is [currently disabled](https://github.com/capstone-coal/pycoal/issues/20#issuecomment-298199910) pending resolution of this issue.

I confirm

[2017-05-22 04:59] ghost commented on #87
Unfortunately the PyPI install seems to depend on a manual install of `libgdal`:
[code]
When I try to install it I get an error:
[code]
GDAL does not seem to be available via `yum`.
[code]
So the manual build may be necessary after all.

[2017-05-22 05:13] ghost commented on #87
@lewismc To summarize, it appears that the GDAL Python package depends on a manual `libgdal` installation, so a dependency cannot be easily added to our package. GDAL does not appear to be available in Amazon Linux `yum`, and I doubt 2.2.0 is going to be in Ubuntu or Debian any time soon either. Therefore I recommend documenting GDAL as a manual dependency and referring to our [install instruction

[2017-05-22 05:35] ghost commented on #96
Re: GDAL see: https://github.com/capstone-coal/pycoal/issues/87

[2017-05-22 05:36] ghost commented on #92
Still blocked pending https://github.com/capstone-coal/pycoal/issues/93 re: transitioning data products from AWS to GDrive.

[2017-05-22 06:51] ghost commented on #27
I'm going to try to systematically review our correspondence to summarize relevant details.

[2017-05-22 20:58] lewismc commented on #87
Is the trace error due to use of Python 2.7? It might be worth upgrading
Python to 3.X and trying again.
Lewis

On Sun, May 21, 2017 at 10:13 PM Taylor Alexander Brown <
notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-22 22:59] ghost commented on #87
Didn't work with Python 3.5 either:
[code]
I would guess that the `FileNotFoundError` is because the GDAL Python package is looking for `libgdal`.

[2017-05-22 23:01] ghost commented on #87
I would describe this as buggy behavior, but the manual install is mentioned in the GDAL docs so it seems that the developers expect it. "Feature not bug" or whatnot.

[2017-05-22 23:18] lewismc commented on #87
very messy indeed!

[2017-05-22 23:25] ghost commented on #87
Keep in mind that GDAL doesn't even support `make uninstall`, so it's no big surprise that other things are messy. We could seek confirmation from the GDAL developers, or just call it quits for now and document the manual install. I could also try to compile `libgdal` on AWS and see if that affects the package installation, but that does sort of defeat the purpose.

[2017-05-22 23:46] lewismc commented on #34
Feedstock progress is being made over at https://github.com/conda-forge/staged-recipes/pull/3002

[2017-05-22 23:46] lewismc commented on #87
OK doke. I think we should just document the manual installation then, get this resolved and I will push 0.5.0 to Pypi. Once that is done, then I will finish off the [feedstock](https://github.com/conda-forge/staged-recipes/pull/3002) such that pycoal  is available through conda.

[2017-05-23 00:02] ghost commented on #87
@lewismc The manual install is already documented here:
https://capstone-coal.github.io/docs#gdal

It could also be added to release notes somewhere.

[2017-05-23 00:10] lewismc commented on #87
So we have a green light to release 0.5?

[2017-05-23 00:22] ghost commented on #87
From me anyways! The [COAL naming](https://github.com/capstone-coal/pycoal/issues/86) issue still needs to be resolved, but this has no functional effect on the library.

[2017-05-23 00:22] #87 closed

[2017-05-23 00:36] #96 closed

[2017-05-23 00:36] #34 closed

[2017-05-23 07:10] ghost commented on #86
We will probably want to follow this convention in future git tags as well:
[code]

[2017-05-23 07:34] ghost commented on #86
More concise list of the affected files:
[code]

[2017-05-23 07:52] browtayl opened #97 "Quickstart"
The [quickstart documentation](http://pycoal.readthedocs.io/en/latest/quickstart.html) regarding the Jupyter notebooks is inaccurate. We could either implement some notebooks with small sample files (such as those in the test directory) or remove the original example. Example [usage](https://capstone-coal.github.io/docs#usage) is already documented on the website.

[2017-05-23 08:24] ghost commented on #86
Pull https://github.com/capstone-coal/pycoal/issues/98 addresses the changes to the source. The website did not need to be updated. I also modified the wiki pages including the release instructions which will properly document the tagging in the future.

"COAL" (always all-caps) should now be used consistently to name the project and the library, and `pycoal` (lowercase and preferably in code styl

[2017-05-24 07:18] ghost commented on #86
Merged and closed.

[2017-05-24 07:18] #86 closed

[2017-05-24 09:04] ghost commented on #93
Some of the GIS data files I have been working with cover a much larger area than the immediate vicinity of the coal mine. Here is a reference on cropping them down: https://docs.qgis.org/2.2/en/docs/training_manual/processing/cutting_merging.html.

[2017-05-24 09:30] ghost commented on #93
Documenting this ugly shell command for posterity:
[code]
This copied the AVIRIS header and image files from their various locations into the GIS bundle directory.

[2017-05-24 11:15] ghost commented on #93
I have uploaded [an archive](https://drive.google.com/open?id=0BxysdOuBmaIGX0JucjlUZ0d4cGc) [2G compressed, 7G extracted] containing the QGIS project and files for our San Juan Mine case study. The archive contains the low-res mining image, high-res RGB images, high-res mining images, high-res environment images, permit location, hydrography data, elevation data, and transportation data.

I also u

[2017-05-24 11:15] #93 closed

[2017-05-24 11:17] ghost commented on #50
Setting to blocked because I don't have a lot of time to work on this right now. The imagery was not very good, but it did contain a sludge classification. There might be some value in confirming that this corresponds to the known location of the main.

[2017-05-25 11:36] ghost commented on #91
@lewismc I went ahead and wrote up a blog post and pushed it to the site:
https://capstone-coal.github.io/2017/05/25/expo.html

[2017-05-25 11:36] #91 closed

[2017-05-26 08:06] heidiaclayton commented on #97
I think removing the page would suffice for this, as usage is documented on the website as Taylor said.

[2017-05-26 12:37] lewismc commented on #97
Ack, if we can point to the website QuickStart over on README.md that would
be great.

On Fri, May 26, 2017 at 1:06 AM heidiaclayton <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-27 08:39] lewismc commented on #92
Hi Folks, I have a local copy (backed up) of the entire /home/ec2-user/* directory meaning, that if anyone, at any point in time, wished to obtain anything then they can. I have this stored in AWS Glacier for longevity. My instincts are that the AWS machine I funded has provided us with the basis for bigger and better things.
Glacier only updates it's index once every couple of days, therefore the

[2017-05-27 08:39] #92 closed

[2017-05-27 08:46] lewismc commented on #92
Server is offline

@browtayl @heidiaclayton @xiaomei7 please delete SSH key from
[code]
If you utilize SSH daemons regularly then you will see a warning... best to delete.

... hopefully the next SSH key you have (and are willing to have) is for XSEDE.

Over and out folks, it's been an absolute pleasure.

[2017-05-27 10:15] ghost commented on #92
FYI the [GIS Bundle](https://github.com/capstone-coal/pycoal/issues/93#issuecomment-303694434) contains all of the relevant files from the New Mexico case study, some of which weren't on the AWS machine to begin with.

[2017-05-27 10:17] ghost commented on #50
Setting to closed and **wontfix**.

[2017-05-27 10:17] #50 closed

[2017-05-27 10:23] ghost commented on #97
I second @heidiaclayton's suggestion on removing the page. Is this correct:
1) delete the Jupyter notebooks,
2) remove the Quickstart documentation, and
3) add a link in the `pycoal` README to https://capstone-coal.github.io/docs#usage

[2017-05-27 10:45] lewismc commented on #92
OK  doke... so we can resolve?

[2017-05-27 10:46] lewismc commented on #97
ACK

[2017-05-27 10:52] ghost commented on #92
Affirmative. I just thought the cross reference might be useful.

[2017-05-27 16:01] lewismc commented on #92
Yes it is thank you

On Sat, May 27, 2017 at 3:53 AM Taylor Alexander Brown <
notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-30 07:10] ghost commented on #27
In our final meeting on 2017-05-26 it was agreed that the documentation and data products the team delivered satisfied our research commitments. I can be available on an ongoing basis to answer any questions pertaining to our methodology and results. Everything of consequence has been documented on our [mailing list](https://groups.google.com/forum/#!forum/coal-capstone), GitHub [issues](https://g

[2017-05-30 07:19] ghost commented on #27
Here is a link I previously shared regarding making publication-quality maps with QGIS:
http://www.qgistutorials.com/en/docs/making_a_map.html

[2017-05-30 07:26] ghost commented on #90
Unassigning self as I'm not working on this right now. Some kind of FAQ or non-technical description would be useful, so feel free to repurpose my responses in that interview. I could contact my classmate for permission if it is desired to use the interview in full, but I think it's probably too long for a non-technical reader.

[2017-05-30 07:31] ghost commented on #97
Unassigning @heidiaclayton and setting back to To Do as discussed in meeting. It shouldn't take too much time to fix whenever it is desired.

[2017-05-30 07:33] ghost commented on #62
Setting to unassigned.

[2017-05-31 03:42] lewismc commented on #34
All builds are now passing, I added a recipe for spectral as well
https://github.com/conda-forge/staged-recipes/pull/3002

[2017-06-08 10:49] browtayl opened #100 "relicense under gplv2"
Relicense COAL under GPLv2 for compatibility with Spectral Python as discussed [on GitHub](https://github.com/conda-forge/staged-recipes/pull/3002#pullrequestreview-42210229) and [on the mailing list](https://groups.google.com/forum/#!topic/coal-capstone/GcunRNllPLs).

All COAL developers (copyright holders) have agreed to this change.

The documentation and website will need to be updated as well

[2017-06-09 22:01] #94 closed

[2017-06-09 22:29] #97 closed

[2017-06-09 22:31] #90 closed

[2017-06-09 22:33] lewismc commented on #90
We can use the interview as a use case gathering later in, thank you again for recording this Taylor.

[2017-06-09 22:33] #62 closed

[2017-06-10 08:07] ghost commented on #100
@lewismc the website and documentation will still need to be updated, but this could be tracked in another issue. once finals week is over i could take care of it.

[2017-06-10 17:34] lewismc commented on #100
I'll do it today, if you could point me to exactly where the edits need to be then I'll do them.

[2017-06-11 18:05] lewismc commented on #100
Will address subsequent relicensing in another issue.

[2017-06-11 18:05] #100 closed

[2017-06-11 18:07] lewismc opened #103 "Address Landscape.io issues in pycoal/environment.py"
https://landscape.io/github/capstone-coal/pycoal/53/modules/pycoal/environment.py#L19

Also touches environment_test.py

[2017-06-11 20:46] ghost commented on #100
Sorry about the delay, I had some grueling AI homework to take care of yesterday so I wasn't online. Doing something like `grep -Ri apache *` in each of our repositories would probably be enough to find each instance. We're working on the final report now so when that's done I can address the changes and submit a pull.

[2017-06-11 20:51] ghost commented on #103
lol, i guess landscape doesn't like camelCase? i guess i missed that part when i was reading the python dogma.

i didn't have a chance to look closely at the changes, but assuming no typos were introduced and all the tests continue to pass, there shouldn't be any functional effect. i assume the other files should be edited similarly for consistency.

[2017-06-12 00:35] ghost commented on #103
We may also need to update the website documentation to account for any interfaces that were changed by this reformatting.

[2017-06-12 00:48] lewismc commented on #103
Ack
Wil do incrementally

[2017-06-12 23:06] lewismc commented on #103
I've updated the [usage](https://capstone-coal.github.io/docs#usage) on the Website in anticipation for the API changes.

[2017-06-13 00:56] lewismc opened #105 "Upgrade to use USGS Spectral Library Version 7"
Spectral Lib 7 is now available
https://speclab.cr.usgs.gov/spectral-lib.html

[2017-06-13 01:32] lewismc commented on #105
I can't seem to find the equivalent version of ftp://ftpext.cr.usgs.gov/pub/cr/co/denver/speclab/pub/spectral.library/splib06.library/Convolved.libraries/s06av95a_envi.hdr

[2017-06-13 01:59] lewismc opened #106 "Create a Docker image for pycoal"
[Docker](https://www.docker.com/) is a software container platform which is widely used to simplify portable installation of software. We should implement a Dockerfile for pycoal meaning that we could run the image very easily across OS. I've had some issues installing pycoal and dependencies on MacOSX for example.

[2017-06-13 03:15] ghost commented on #27
The final report document and all other course submissions [have been uploaded](https://github.com/capstone-coal/pycoal/pull/107) to the `deliverables` folder on Drive with the sources in the `docs/course` directory in git. The duplicate files in my OSU Engineering web space may be deleted at any time.

[2017-06-13 06:08] lewismc opened #108 "Convert all code to Cython"
Cython is a superset of the Python programming language, designed to give C-like performance with code which is mostly written in Python. It is well known to have significant speed improvements over Python code... something we would greatly benefit from when using XSEDE compute resources.
I will begin implementing the Cython enhancements after I've implemented application logging and timeit. We ca

[2017-06-26 23:12] lewismc opened #109 "Implement REST API with the Falcon Web Framework"
It would be very handy if task execution could be run remotely. In order to do this we can use a framework such as [Falcon](https://falcon.readthedocs.io/en/stable/).

[2017-06-27 01:20] lewismc commented on #106
If you are interested in being added to the [capstonecoal](https://hub.docker.com/r/capstonecoal/coal/) Dockerhub Org then please let me know here @heidiaclayton @browtayl @xiaomei7 by adding your Dockerhub user id and I will add you.

[2017-06-27 03:07] lewismc opened #111 "Create examples directory with example scripts"
Based on the [toolkit usage documentation](https://capstone-coal.github.io/docs#usage) we should create an examples directory and three simple scripts which augment the usage with CLI invocation enabling end-to-end COAL execution. This will make it much easier for people to run the toolkit from examples.

[2017-06-28 04:40] lewismc opened #112 "Label Docker image"
We can improve interpretation of our Docker image by labeling it. Guidance for how to do so can be found at https://microbadger.com/labels

[2017-06-29 17:51] lewismc commented on #46
I am baking this in to #113 and it is working beautifully.

[2017-07-03 20:53] lewismc commented on #111
@browtayl can you point me to the location of the [National Hydrography Dataset National Map shape files](https://capstone-coal.github.io/docs#environment) which are required in order to complete the environmental portion of the example? I've been looking over at the USGS Website but cannot find a link to ```NHDNM/Shape/NHDFlowline.shp``` thank you in advance.

[2017-07-04 05:22] lewismc commented on #111
It's cool @browtayl I found them at ftp://rockyftp.cr.usgs.gov/vdelivery/Datasets/Staged/Hydrography/NHD/State/HighResolution/Shape/ thanks

[2017-07-04 05:23] lewismc commented on #111
The shape files can be located at ftp://rockyftp.cr.usgs.gov/vdelivery/Datasets/Staged/Hydrography/NHD/State/HighResolution/Shape/NHD_H_New_Mexico_Shape.zip thanks

[2017-07-04 16:09] lewismc opened #114 "environment .hdr files do not contain a description key and value entry"
When I run an environmental task, a .hdr file is created with the following data, note it is missing a description
[code]
whereas other tasks generate descriptions
[code]

[2017-07-04 16:28] #106 closed

[2017-07-04 16:31] lewismc commented on #46
Implemented in https://github.com/capstone-coal/pycoal/pull/113

[2017-07-04 16:31] #46 closed

[2017-07-04 16:31] lewismc commented on #47
Implemented in https://github.com/capstone-coal/pycoal/pull/113

[2017-07-04 16:31] #47 closed

[2017-07-05 22:52] #111 closed

[2017-07-05 22:55] ghost commented on #114
@lewismc which `.hdr` file are you looking at? the environmental correlation module creates several byproducts during computation such as the rasterized map (`feature_header_name`) and the proximity map (`proximity_header_name`) which aren't necessarily data products we need to keep. the actual environmental correlation image should have a description as defined in this line:
https://github.com/ca

[2017-07-05 22:57] ghost commented on #114
Note that this behavior is already verified by the unit test:
https://github.com/capstone-coal/pycoal/blob/644a1ea3d3f0ffcf3db2e030b57ad5e9c870f33a/pycoal/tests/environment_test.py#L77

[2017-07-05 23:00] lewismc commented on #114
So it is... I didn't see that. Hmmm. The content from the .hdr file I generated locally is below.
[code]

[2017-07-06 02:54] lewismc commented on #109
I'm currently working on this and will be finished soon.

[2017-07-06 10:31] ghost commented on #114
What is the filename? What call did you make to generate it? Have you tried opening it in QGIS to see what it is?

The `EnvironmentalCorrelation.intersect_proximity` method takes a mining classified file and a vector layer to generate the intermediate and derivative files. Suppose the mining classified file is `12345_img_class_mining.hdr` and the vector filename is `streams.shp`.
1) The method wil

[2017-07-06 10:40] ghost commented on #111
For reference here is the email thread where I originally found it:
https://groups.google.com/forum/#!topic/coal-capstone/MBVIBZBc_cs

Here is its catalog page which we will want to cite:
https://www.sciencebase.gov/catalog/item/58c9238ce4b0849ce97b41b1

[Note](https://github.com/capstone-coal/pycoal/issues/20#issuecomment-294290644) that some builds of GDAL might not include FileGDB support.

[2017-07-06 10:47] ghost commented on #105
It [looks like](https://www.sciencebase.gov/catalog/item/5807a2a2e4b0841e59e3a18d) they have not released an AVIRIS/ENVI version of the library, but that's okay, we'll just have to use Spectral to convert it by doing something similar or identical to [`pycoal.mineral.AsterConversion`](https://pycoal.readthedocs.io/en/latest/mineral.html#pycoal.mineral.AsterConversion).

Rather than making COAL use

[2017-07-06 10:52] ghost commented on #27
How to cite NHD: https://github.com/capstone-coal/pycoal/issues/111#issuecomment-313361324

[2017-07-06 10:57] ghost commented on #27
This is tangentially related, but I recently spoke with [a cartographer](http://imusgeographics.com/) to ask what software they used for mapmaking. They said that the maps were drawn with commercial photo-editing software using GIS work done by others.

[2017-07-06 11:22] ghost commented on #108
Converting COAL to Cython might reduce the cost of some of the pixel iteration, but I don't expect it would make a significant difference since I believe most time during mineral classification is spent inside of Spectral Python's spectral angle mapper. Be sure to weigh the cost of rewriting and the cost of using nonstandard Python against the possible time benefits.

See the [performance issue](h

[2017-07-06 11:37] browtayl opened #115 "Get More Data"
Although we are still formalizing our San Juan Mine case study (contained in the [GIS Bundle](https://github.com/capstone-coal/pycoal/issues/93#issuecomment-303694434) and the [Final Report Submission](https://groups.google.com/forum/#!msg/coal-capstone/0TF5xiGDTf4/GfqjU9rkAwAJ)), further development of COAL would be promoted by finding more data to experiment with. By searching for locations of c

[2017-07-06 16:11] lewismc commented on #115
I spoke with [David Ray Thompson](http://www.davidraythompson.com/) on this point exactly last week. I'm meeting with Sarah Lundeen and Winston Olson-Duvalln who between them manage the AVIRIS Science Data System, with the aim of possibly [transferring](https://portal.xsede.org/psc-bridges#transfer) over portions/the entire AVIRIS archive (~300TB) over the course of the XSEDE Startup Allocation.
I

[2017-07-06 23:13] ghost commented on #115
Objectives (1) and (2) were my main thoughts when filing this issue. A second case study, particularly one with different parameters such as image size or spectral features, would give us practice working with new data sets and exercise parts of the library to challenge assumptions that may have been made in the initial iteration. It would also give us new and interesting things to look at while t

[2017-07-06 23:40] lewismc commented on #115
I agree with you @browtayl .
I'm going to finish the REST API then propose that we release 0.6.0. I'll update once that has been done. In the meantime, if you fancy making an attempt to locate mining sites which have been surveyed then by all means please do. It became obvious to me that the investigators in charge of individual flight campaigns really didn't know if they has flown a mining site o

[2017-07-07 06:04] ghost commented on #115
What I did when looking for coal mines was search for each state's mining regulatory agency which typically publishes records of mining operations and claims (a search for "coal mines in [state]" was typically sufficient). I believe I also consulted a map of coal deposits in the US to narrow down which states to look for. Some state agencies provide interactive maps that can be browsed for permit

[2017-07-08 02:20] ghost commented on #115
For example, an interactive map of [Coal Mines in New Mexico](http://nm-emnrd.maps.arcgis.com/apps/webappviewer/index.html?id=85a78ccf5aa64364944cd616d14ceec8) is [provided](http://www.emnrd.state.nm.us/MMD/gismapminedata.html) by the New Mexico Energy, Minerals and Natural Resources Department, Mining and Minerals Division. Then you zoom to the corresponding region in the [AVIRIS-NG data portal](

[2017-07-08 02:32] ghost commented on #115
As another example, the West Virginia GIS Technical Center [links to](http://mapwv.gov/interactiveMaps.html) maps from the WV Geological and Economic Survey which [provides](http://ims.wvgs.wvnet.edu/#coalmaps) coal maps with a [REST API](http://atlas.wvgs.wvnet.edu/arcgis/rest/services/Coal_Web_Mercator/All_Mining_WM/MapServer) and an [interactive viewer](http://www.arcgis.com/home/webmap/viewer.

[2017-07-08 02:34] ghost commented on #115
Wikipedia provides some maps of coal mining deposits by state:
https://en.wikipedia.org/wiki/Coal_mining_in_the_United_States#Coal_production_by_region

A similar methodology could presumably be used to find other kinds of mining operations.

[2017-07-08 02:40] ghost commented on #108
Also just FYI I don't mean to discourage work on this, I just tend to play devil's advocate when collaborating on things.

[2017-07-08 02:49] browtayl opened #116 "Improve QGIS Install/Usage Instructions"
A version of QGIS linked against GDAL 2.2.0+ is required for correct viewing of COAL data files such as the [GIS bundle](https://github.com/capstone-coal/pycoal/issues/93#issuecomment-303694434). The website [documents](https://capstone-coal.github.io/docs#qgis) how to build QGIS from a Debian source package. It would be better to (1) see if the latest version of [QGIS](http://qgis.org/en/site/) (

[2017-07-08 03:09] ghost commented on #116
I probably should have filed this as a [website issue](https://github.com/capstone-coal/capstone-coal.github.io/issues).

[2017-08-02 08:45] ghost commented on #27
Potentially relevant:
https://minerals.usgs.gov/science/hyperspectral-AK-mineral-deposits/index.html

[2017-08-25 22:25] browtayl opened #117 "Fix GDAL Bug Fix"
Several [flaws](https://github.com/OSGeo/gdal/pull/197#issuecomment-316185610) were found in the original GDAL ENVI rotation bug [fix](
https://capstone-coal.github.io/2017/04/30/gdal-envi-rotation-bug-fix.html). I [confirmed](https://lists.osgeo.org/pipermail/gdal-dev/2017-July/046877.html) the errors, but the reporter has not delivered a patch as was suggested. The reporter proposed corrected eq

[2017-08-25 22:40] ghost commented on #116
As mentioned, the latest stable release of QGIS is 2.18. Based on the source code [installation instructions](https://github.com/qgis/QGIS/blob/a6c461bfecb0e8ee7ed9be936458c7fb00bfd1ce/INSTALL) in the relevant [tag](https://github.com/qgis/QGIS/releases/tag/final-2_18_12), this version only requires GDAL 1.4 or greater.

Thus we cannot assume that stable builds or other packaged versions will cont

[2017-08-28 16:09] lewismc commented on #116
This also relates to the Docker build I put together. I was derailed somewhat by the REST API work. I will try to get back around to it @browtayl thank you for logging the issue.

[2017-08-28 20:10] ghost commented on #116
This is also something that COAL-FO students might be able to take care of... after all of their writing assignments are out of the way.

Although `pycoal` targets GNU/Linux, it would be best if data products could be viewed on any platform supported by GDAL+QGIS. Our website does [reference](https://capstone-coal.github.io/docs#qgis) the generic `INSTALL` instructions which are suitable for a man

[2017-09-18 20:05] lewismc opened #118 "Provide ISO 19115-compliant product metadata"
Metadata can be represented in a number of standards and formats. Many discipline-specific or community-specific metadata standards have been developed to support data management and data discovery systems and to capture and convey information to users. Examples include Directory Interchange Format (DIF), Ecological Metadata Language (EML), Sensor Model Language (SensorML), Climate Science Modelin

[2017-10-01 10:29] ghost commented on #115
I came across the website of the [OSU Mass Spectrometry Center](http://mass-spec.science.oregonstate.edu/) which suggested the possibility of making our own coal mine spectral samples to extend the USGS Spectral Library if need be. That lab specializes in biochemistry, but we could find another that handles minerals. A geologist would be able to guide us to mine drainage mineral samples.

[2017-10-05 22:52] ghost commented on #115
The primary applications of remote sensing at OSU appear to be in forestry and ecology:

* [The Laboratory for Applications of Remote Sensing in Ecology (LARSE)](https://larse.forestry.oregonstate.edu/)
    * which includes [LandTrendr](http://landtrendr.forestry.oregonstate.edu/), and
* [Environmental Remote Sensing Applications Laboratory (ERSAL)](http://ferm.forestry.oregonstate.edu/ersal).

I

[2017-10-05 23:00] ghost commented on #115
Although @lewismc knows more about it than me, I am dropping a reference to [The Hyperspectral Infrared Imager (HyspIRI)](https://hyspiri.jpl.nasa.gov/) which may be a target for COAL research and development in the future. Beaming hyperspectral imagery on a continuous basis would offer much broader and more frequent coverage than discrete AVIRIS flights, however at lower resolution. The draft man

[2017-10-05 23:09] lewismc commented on #115
ACK. Over time I think Pycoal should probably be adapted to accept a flag denoting the particular instrument the input dat came from. This is food for thought.

[2017-10-18 22:17] lewismc opened #119 "Enable use of EcoSIS Spectral Library"
[EcoSIS](https://ecosis.org) is a spectral library with some >54K spectra... we may wish to leverage this to improve our classifications.

[2017-10-21 21:24] lewismc commented on #118
The above is superseded by availability of the NASA [Unified Metadata Model](https://earthdata.nasa.gov/about/science-system-description/eosdis-components/common-metadata-repository/unified-metadata-model-umm) (UMM) standard. We should use UMM to model all of the product metadata.

[2017-10-23 06:16] browtayl opened #120 "Consider Separate Course Repository"
This issue is to consider moving the original 2016-2017 course documents from [pycoal/docs/course](https://github.com/capstone-coal/pycoal/tree/master/docs/course) into a separate repository like the 2017-2018 team [is doing](https://github.com/bdegley4789/COALFO). The files will stay in the history forever, but it will reduce the size of release tarballs. If this sounds like a good idea then both

[2017-10-23 06:45] ghost commented on #27
Thanks to @lewismc for putting together our [first publication](https://capstone-coal.github.io/publications/bids2017_coal.pdf) for BiDS. We can either close this issue or leave it open to facilitate future publications.

[2017-10-24 16:38] lewismc commented on #27
Thanks to everyone for participating

[2017-10-24 16:38] #27 closed

[2017-10-24 16:46] lewismc commented on #120
Hi Taylor,
Yes excellent idea. Let's create a new 'coursework' repository.
Lewis

On Sun, Oct 22, 2017 at 11:16 PM, Taylor Alexander Brown <
notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates L.L.P.
*Skype*: lewis.john.mcgibbney
*Email*: http://www.mcmaassociates.com/contact-us.html
*Web*:http://www.mcmaassociates.com/

[2017-10-24 23:54] browtayl opened #121 "Create SPLIB06 Visualization Example"
This issue is to add the [SPLIB06 Visualization](https://groups.google.com/forum/#!topic/coal-capstone/czhXhafEiiI) to `pycoal/examples`. It would also be possible to incorporate it into the website somewhere.

[2017-10-25 00:03] ghost commented on #121
Configuring the Python environment was actually rather tricky for this example. I was unable to get wxPython to work with IPython3 on my system, but I was able to get it to work with IPython2 which for me is `/usr/bin/ipython`. See also the Spectral Python documentation on [Displaying Data](http://www.spectralpython.net/graphics.html) for more on graphics.

[2017-10-25 00:09] ghost commented on #120
We could also do `coal-course-docs` and `coal-fo-course-docs` to keep the two capstone projects separate.

[2017-10-25 00:27] ghost commented on #121
It would also be interesting (as a follow-up to this issue perhaps) to create a visualization of SPLIB07 for comparison. [Recall](https://github.com/capstone-coal/pycoal/issues/105#issuecomment-313362563) that we have yet to create a band-resampled version of SPLIB07 in ENVI format. For direct comparison with SPLIB06, we would want one with 224 bands.

Several things seem to jump out from looking

[2017-10-25 01:26] lewismc commented on #120
+1

On Tue, Oct 24, 2017 at 5:09 PM Taylor Alexander Brown <
notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates L.L.P.
*Skype*: lewis.john.mcgibbney
*Email*: http://www.mcmaassociates.com/contact-us.html
*Web*:http://www.mcmaassociates.com/

[2017-11-08 06:34] ghost commented on #120
@lewismc @heidiclayton @xiaomei7 Coursework from our 2016-2017 Capstone project has been copied to [its own repository](https://github.com/capstone-coal/coal-coursework-2016-2017) and removed from the `pycoal` repository.

[2017-11-08 06:34] #120 closed

[2017-11-08 07:25] ghost opened #122 "Classifier Callback"
This issue is to implement the functionality requested in https://github.com/capstone-coal/capstone-coal.github.io/issues/32 to allow the user to control the classification algorithm. One option is to refactor the mineral classification method to take a callback which defaults to the current SAM implementation. Additional work remains to figure out the best way to do this.

[2017-11-08 07:49] ghost commented on #119
To be compatible with our current algorithm, this data would need to be obtained or converted as ENVI Spectral Library format. Considerations include the types and spectral range of the samples. As it may not be practical to classify all 54K samples, it may be necessary to specify the [`classNames` and `threshold` parameters](https://pycoal.readthedocs.io/en/latest/mineral.html#pycoal.mineral.Mine

[2017-11-08 07:51] ghost commented on #114
I think the problem here is the intermediate files mentioned above. One option is to just delete them as they are probably not useful. Another option is to add the metadata to them as requested.

[2017-11-08 07:55] ghost commented on #108
Assuming that mineral classification is the biggest time sink, the [callback](https://github.com/capstone-coal/pycoal/issues/122) we are considering implementing would provide one way to address this issue. The callback could point to an efficient compiled function which would hopefully speed things up even if the rest of the toolkit is in plain old Python. The NumPy SAM implementation is probably

[2017-11-08 07:57] ghost commented on #103
Confirming that this is still an open issue.

[2017-11-09 03:22] lewismc commented on #103
Yes

[2017-11-17 05:17] bdegley4789 commented on #116
I would be willing to take a shot at solving this issue, I'll assign myself to this issue, assuming it still hasn't been solved. Let me know if there are any updates on this issue I should be aware of
Thanks

[2017-11-17 15:46] lewismc commented on #116
@bdegley4789 ni updates, please go ahead, Thanks

[2017-11-18 10:35] ghost commented on #121
Pull https://github.com/capstone-coal/pycoal/pull/123 added [`example_splib06.py`](https://github.com/capstone-coal/pycoal/blob/385b5321e33e3baca25381c34cc53f1a4fab2bb7/examples/example_splib06.py).

[2017-11-18 10:35] #121 closed

[2018-01-18 16:59] thomkenn commented on #122
This could be interesting, ill take a look at it

[2018-01-19 23:23] lewismc opened #126 "Create CLI and enable upon install"
mineral.py, mining.py and environment.py should each have a CLI. Upon successful installation of pycoal, the CLI tools should be available on the path for easy execution.

An example of how we did this elsewhere can be seen at the [pycovjson cli](https://github.com/Reading-eScience-Centre/pycovjson/tree/master/pycovjson/cli) module.

Really, the ```main``` function of our existing [examples](https

[2018-01-19 23:25] lewismc opened #127 "Change docker image to use Python3"
Right now, the Dockerfile defines ```python:2-slim``` as the base image. If possible, it would be good to upgrade to a Python3 image.

[2018-01-31 19:46] lewismc commented on #117
@browtayl can you please look into this again and see if
 1) the reporter delivered a patch as was suggested, and
 2) if so, has the fix made it into a packaged version of GDAL?
I am looking to simplify the [GDAL install in the Dockerfile](https://github.com/capstone-coal/pycoal/blob/master/Dockerfile#L75-L140) if possible... it would be ultimately easier to grab a Debian package or something simi

[2018-02-01 02:04] ghost commented on #117
To my knowledge, the reporter did not deliver a patch. When I have time I will follow up on the changes they suggested. Note that the original fix is sufficient for our purposes, it was only in a special case (when pixel x and y dimensions differ) that the symmetry fails. My original fix was incorporated into the officially released version of GDAL 2.2.0, but the [current version in Debian Stable]

[2018-02-01 02:14] ghost commented on #117
Alternately, it is possible the Debian package in Testing will run on Stable. I don't see it in Backports.

[2018-02-01 02:42] ghost commented on #117
I will add to this stream of consciousness by noting that GDAL originally had no support for rotated ENVI files at all, so my original fix didn't break anything that previously worked. Fixing the symmetry would presumably enable full compatibility with the (undocumented and proprietary) ENVI header format. To my knowledge all AVIRIS-C and AVIRIS-NG data has |x|==|y| so it is presently a non-issue

[2018-02-06 20:28] ghost commented on #117
Forgot to mention it, there actually is a GDAL `.deb` package generated during the first R&D phase: In the COAL Google Drive > `coal-capstone` > `2016-2017` > `software`. However it was built for Debian 8 so it might not be compatible with Debian 9.

[2018-02-08 05:22] #127 closed

[2018-02-08 05:22] lewismc commented on #126
@bdegley4789 how is this going?

[2018-02-08 07:54] bdegley4789 commented on #126
@lewismc this issue is going alright. I have tried following the example you gave from pycovjson. I'm probably getting things wrong but I pushed the changed I've worked on to my [branch](https://github.com/bdegley4789/pycoal/tree/Issue-126/examples/cli)
Am I correct in thinking that I would put all the Command Line Options into the .py scripts in the CLI repo and then remove them from the .py scri

[2018-02-08 08:23] lewismc commented on #126
OK, these are the steps to address the task

1. add entries (as I previously described) to setup.py which expose the ```_entry_points```, this is so that upon installation, these tools are available via the CLI,
1. create a ```cli``` directory within the existing [pycoal](https://github.com/capstone-coal/pycoal/tree/master/pycoal) source directory. This will be used to house the ```_entry_points``

[2018-02-08 17:32] lewismc commented on #105
There will be a requirement to update the Website documentation here as well.

[2018-02-08 20:45] lewismc opened #132 "Fix docker build"
Our Docker build fails. I am going to fix it and I also need to check that team members can also access the build logs.

[2018-02-15 15:36] #126 closed

[2018-02-28 01:15] ghost commented on #116
Thanks folks for investigating this issue, I wanted to share minor feedback that I hope will be helpful. Based on the [video](http://web.engr.oregonstate.edu/~egleyb/Group28_COALFO_Alpha_Presentation.mov) that was [linked](https://groups.google.com/d/msg/coal-capstone/8YIjHtknfac/XM90QqtQBgAJ) on the mailing list, the [modifications](https://github.com/capstone-coal/capstone-coal.github.io/pull/43

[2018-02-28 02:47] lewismc commented on #116
Hi Taylor, thanks for commenting. Honestly, we are going to be discussing
he video his comignThursday so your comments are very timely.
As you can see from the video, it looks like GDAL has not been installed
correctly as there is a large ugly looking program trace which should not
be present... this would indicate to me that the GDAL program is not
installed correctly.
We will be revisiting this

[2018-02-28 06:59] ghost commented on #116
I noticed the trace in the video but can't suggest an explanation without trying to reproduce it. It's entirely possible that a bug or regression was found, either in our code or GDAL's, in which case it is in everyone's interest to get it resolved. There are a lot more moving pieces to worry about now that the command line interface (which is looking great, by the way) and build automation stuff

[2018-02-28 07:08] ghost commented on #116
P.S., for development purposes it is often more convenient to load the `pycoal` module using `sys.path.append` rather than installing it globally.

[2018-03-01 17:17] bdegley4789 commented on #115
Here are some data products I found from the AVIRIS-NG data product portal that could be good to look at next. I already started running mineral correlation on the first one

Location: North West Colorado
Site Name: Craig Power Plant Coal Mine
rgb image preview: https://avirisng.jpl.nasa.gov/aviris_locator/y14_RGB/ang20140912t192359_RGB.jpeg
wget -m "ftp://avng.jpl.nasa.gov/AVNG_2014_data_distribu

[2018-03-02 00:20] ghost commented on #115
Awesome work finding these. I have been getting bored of looking at the San Juan Mine so am very curious what you will find in these images. We had some mixed luck last year classifying other imagery we found, so this will be a good test of the library as much as of the data. We classified some images from Colorado and West Virginia but the results were thrown off by the low resolution. For exampl

[2018-03-02 07:40] ghost commented on #116
Since I misfiled this issue in the first place, I think the best thing to do is to close it and file a new one with the [website issues](https://github.com/capstone-coal/capstone-coal.github.io/issues) but maybe leave it on the back-burner until QGIS gets its act together. I'm going to revert commit [`4504f67`](https://github.com/capstone-coal/capstone-coal.github.io/pull/43/commits/4504f67d6508f4

[2018-03-02 07:40] #116 closed

[2018-03-02 09:34] ghost commented on #114
Bringing this old issue up to date:

1. If it is desired to preserve the aforementioned intermediate files after environmental correlation, then this issue can be considered to be superseded by https://github.com/capstone-coal/pycoal/issues/118 which aims to standardize COAL metadata.
2. Otherwise, logic remains to be implemented in [`environment.py`](https://github.com/capstone-coal/pycoal/blob/m

[2018-03-02 09:34] #114 closed

[2018-03-02 09:40] bdegley4789 commented on #115
Sounds good! We will be staging all the products from these case studies in [here](https://drive.google.com/drive/folders/1YVhdLxvrZE3eC97OEXathLMJRgWt8haO)

[2018-03-02 11:03] ghost commented on #108
In an effort to keep the issue tracker up to date, I will close this issue and recommend that the action items above be pursued incrementally in future issues: In particular, logging, profiling, and optimizing. However, if there are any arguments in favor of committing to the Cython language then this issue can be reopened and pursued by anyone motivated enough convert all the code, as I am not de

[2018-03-02 11:03] #108 closed

[2018-03-05 23:37] lewismc commented on #105
Hi @bdegley4789 how are things coming along? Anything I can help out with over and above out meeting last week? Do you have a pull request I can review? Thanks

[2018-03-06 10:25] bdegley4789 commented on #105
@lewismc the last few days, I was working on fixing the errors I was having with gdal, which I solved. And I think I figured out what was causing the rotational bug with qgis. I added these to the installation instructions and made a pull request on the website for that. On this issue, I've looked at the links you sent but not much other than that. This will be my new priority now that the gdal st

[2018-03-06 10:38] bdegley4789 commented on #115
@lewismc @browtayl
Do either of you think it would be a good idea to switch the default example to this aviris image?

Location: North West Colorado
Site Name: Craig Power Plant Coal Mine
rgb image preview: https://avirisng.jpl.nasa.gov/aviris_locator/y14_RGB/ang20140912t192359_RGB.jpeg
wget -m "ftp://avng.jpl.nasa.gov/AVNG_2014_data_distribution/L2/ang20140912t192359_rfl_v1c/"

It is only 6GB ins

[2018-03-06 16:17] lewismc commented on #115
@bdegley4789 I think that this is a good idea if and only if it produces some interesting GIS products which are more appealing over and above the existing/original San Juan mine case study.
At the end of the day, 'most' folks using or projected to use this toolkit are well aware of the pretty huge file sizes involved with hyperspectral remote sensing data.
Do you have examples GIS products from t

[2018-03-06 19:08] ghost commented on #115
For reference I assume the default example in question comes from this line in the source: https://github.com/capstone-coal/pycoal/blob/b24db46367de4abb234ff6c18ccdda6bd26e5705/examples/example_mineral.py#L63

@lewismc was actually the one who implemented the example scripts as can be seen in the [`git blame`](https://github.com/capstone-coal/pycoal/blame/b24db46367de4abb234ff6c18ccdda6bd26e5705/e

[2018-03-07 01:57] bdegley4789 commented on #115
@lewismc I staged the products from this site in [here](https://drive.google.com/drive/folders/1SSLgXc9xPy_XoE0OYlTfW_qbwaK6rcMX). The mineral classification and mining classification are good. But it doesn't look like there is much of anything at this site for environmental correlation. So, it might not be the best for the examples

[2018-03-07 02:01] bdegley4789 commented on #115
I'll run through those other sites I listed here and see if there is anything interesting. @browtayl solution of cropping the san Juan image could also work

[2018-03-07 02:09] bdegley4789 commented on #117
@browtayl Has this issue been address with what we did in Follow Up on Improving GDAL/QGIS Installation Instructions ?

[2018-03-07 02:59] ghost commented on #117
@bdegley4789 Negative, this issue is to submit a new patch to the GDAL source itself: https://lists.osgeo.org/pipermail/gdal-dev/2017-July/046877.html . The original fix works if pixel x and y dimensions are equal but breaks otherwise. The individual who reported this on the GDAL mailing list said they would provide a patch but hasn't gotten around to it. I have been planning on revisiting it myse

[2018-03-08 16:50] bdegley4789 commented on #105
@lewismc Do you know where the Aster data files are located in usgs spectral library version 7? I keep getting an error that they aren't found when I set the path to several different locations in usgs_splib07. I set up this code to use pycoal.mineral.AsterConversion and generates s07av95a_envi.hdr and s07av95a_envi.sli
![1](https://user-images.githubusercontent.com/25111791/37163874-bff8d648-22ad

[2018-03-08 16:51] bdegley4789 commented on #105
Current code
`#!/usr/bin/python
#
# Copyright (C) 2018 COAL Developers
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; version 2.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHAN

[2018-03-08 16:53] bdegley4789 commented on #105
Current code
https://github.com/bdegley4789/pycoal/blob/master/examples/example_splib07.py

[2018-03-08 16:55] bdegley4789 commented on #105
If pycoal.mineral.AsterConversion doesn't work I think we could also use [Harris Geospatial Spectral Library Builder](https://www.harrisgeospatial.com/docs/spectrallibraries.html)

[2018-03-08 17:30] lewismc opened #134 "Support ECOSTRESS Spectral Library"
https://speclib.jpl.nasa.gov/

[2018-03-09 10:02] browtayl opened #135 "Update Copyrights and Contributors"
This issue is to identify and update the copyright and contributor notices throughout the COAL software suite. There is considerable inconsistency in attribution between files, so I recommend we use a standard format like `Copyright (C) 2017-2018 COAL Contributors`.

I suggest we use the website [Team](https://capstone-coal.github.io/team) page as our definitive contributor list for the time being

[2018-03-09 10:22] browtayl opened #136 "Purge Wiki"
This issue is to purge the [`pycoal` wiki](https://github.com/capstone-coal/pycoal/wiki) of obsolete documentation. Nobody needs to be reading the 2016-2017 team updates anymore which are in our final report anyways. I already deleted my FOSS page which was never particularly relevant. We could even consider getting rid of the wiki altogether and move all documentation to the website.

[2018-03-09 22:49] lewismc commented on #135
# 2 has been addressed
# 3 has been addressed
# 4 has been addressed

[2018-03-10 01:31] ghost commented on #135
Pull https://github.com/capstone-coal/pycoal/pull/137 hopefully fixes the remaining inconsistencies. The format for current and future copyright notices should be `Copyright (C) 2017-2018 COAL Developers` unless decided otherwise. I will update the website to refer to "Developers" rather than "Contributors" for uniformity. PyPI and RTD may not display the change until a new release.

[2018-03-10 02:28] ghost commented on #105
@bdegley4789 Since @lewismc hasn't responded yet, I recommend you have a look at the [source code of `pycoal.mineral.AsterConversion`](https://github.com/capstone-coal/pycoal/blob/271c0d3031d98a711a57bb4087b75f7b2f0aed5f/pycoal/mineral.py#L316-L364). This is an experimental method expected to work only on the ASTER spectral library. The USGS Spectral Library Version 7 uses a similar but distinct f

[2018-03-10 02:33] ghost commented on #135
Since we're playing fast and loose with the source these days I'm just going to merge and close. Reopen if anything is amiss.

[2018-03-10 02:35] ghost commented on #135
Merged https://github.com/capstone-coal/pycoal/pull/137. Merged https://github.com/capstone-coal/capstone-coal.github.io/pull/50. Closed.

[2018-03-10 02:35] #135 closed

[2018-03-11 04:09] bdegley4789 commented on #105
@browtayl Thanks. Lewis didn't responded here but we discussed this in the video chat meeting we had last Thursday. He had similar recommendations, I'll take a look at `spectral.AsterDatabase.create_envi_spectral_library()` I didn't know about that

[2018-03-13 03:43] lewismc commented on #105
How are things coming along @bdegley4789 ?

[2018-03-13 06:42] #132 closed

[2018-03-13 07:11] #112 closed

[2018-03-13 22:48] lewismc commented on #105
PING @bdegley4789

[2018-03-14 01:38] bdegley4789 commented on #105
@lewismc sorry for the late reply I had a project in another class yesterday. I am working on this by creating another convert class like we discussed. With the AsterConversion it used .db file. The usgs Spectral Version 7 is a bunch of .txt files I'm a little confused on how to work with this difference. I think I can still work around that to create the .sli and .hdr files but Im not sure if the

[2018-03-14 03:18] lewismc commented on #105
@bdegley4789 thanks, the information you need to get your started can be found at http://www.spectralpython.net/libraries.html. This will lead you to working with the [SpectralLibrary Class](http://www.spectralpython.net/class_func_ref.html#spectral.io.envi.SpectralLibrary). The output of the save function in this Class is two files: fileBaseName.hdr and fileBaseName.sli.
Any issues, let me know a

[2018-03-15 15:12] bdegley4789 commented on #134
Ecostress Spectral Library Version 1.0 is just a name change of the Aster Spectral Library Version 2.0 correct? Does this issue involve changing the code in pycoal? Or just updating https://capstone-coal.github.io/ so that it accounts for the name change

[2018-03-16 00:46] lewismc commented on #105
@bdegley4789 @thomkenn please keep me updated this next week. I look forward to us making progress as a team.

[2018-03-16 01:15] bdegley4789 commented on #105
Sounds like a plan, Ill keep you updated

[2018-03-17 04:05] bdegley4789 commented on #105
Ok I worked on this issue for awhile last night and today. I found a way to get the .sli and .hdr files of all the Spectra in Spectral Library Version 7.

If I can change all the files in Spectral Library Version 7 to the format of the ASTER files and move them to one directory and then run
the AsterConversion() function in mineral.py in my most recent pull request to pycoal it does correctly outp

[2018-03-21 09:33] bdegley4789 commented on #105
Ok, I went ahead with the method described above.
I have the envi .hdr and .sli files generated for the entire USGS Spectral Library Version 7.
I have also started to run them in a mineral classification of a site to see how it will look using Spectral Version 7. I pushed all the code I wrote to do this in my most recent pull request and staged the .hdr and .sli files in https://drive.google.com/d

[2018-03-21 10:51] thomkenn commented on #136
How about we just replace the 2016-2017 team updates page with a link to the 2016-2017 final report then? Sound good to everyone?

[2018-03-21 14:10] ghost commented on #136
Done.

[2018-03-21 14:10] #136 closed

[2018-04-02 06:37] ghost commented on #117
GDAL has transitioned its issue tracker to GitHub. This issue should be addressed there.

[2018-04-02 06:37] #117 closed

[2018-04-02 08:26] bdegley4789 commented on #109
Is this still an open issue? And could this be a task for @thomkenn to work on if you are not already done?  I built a very basic REST API in my cloud and mobile development course on the google cloud platform in about one week. For something more complicated like task execution of pycoal it would take longer but definitely achievable before capstone

[2018-04-02 11:41] thomkenn commented on #109
yeah i can definitly take this one up, but im concerned the REST API might rely on the SDS part of it, in which case obviously this would no longer be within our scope. if im reading that wrong, let me know

[2018-04-02 15:03] lewismc commented on #109
@thomkenn

Yes it does.

[2018-04-02 15:14] lewismc commented on #122
@thomkenn please begin thinking about implementing this. I already have [other work lined up to expand the Classification algorithms](https://github.com/ESIPFed/GSoC/issues/10) for pycoal which would leverage this functionality.
Any question, please post them here.

[2018-04-12 04:24] thomkenn commented on #122
Am currently testing code on my local machine, will submit a pull request when i have it working.

[2018-04-17 04:32] BlcaKHat opened #143 "AttributeError: 'module' object has no attribute 'mineral'"
I was running the example with one hyperspectral image having 20 bands. i got this error. But It generates 2 images. but they are not RGB or classified.

[2018-04-17 05:10] bdegley4789 commented on #143
@BlcaKHat We will look into this. Just to verify, you have built pycoal, correct?

python setup.py install

[2018-04-17 10:02] BlcaKHat commented on #143
I installed it via pip. do i still need to build ?

[2018-04-17 15:17] bdegley4789 commented on #143
@BlcaKHat Yes you do, let me know how pycoal behaves after you have built

[2018-04-18 07:38] BlcaKHat commented on #143
still got this error in
# generate a mining classified image
mining_classification.classify_image(mineral_filename, mining_filename)

![last_line](https://user-images.githubusercontent.com/16970999/38917765-522a6cf4-4309-11e8-91a2-720280f0dce0.png)

I have aviris data of Ahamdabad , india and i have 9 classes . like ubran, water .. etc
help me out.

[2018-04-18 16:14] bdegley4789 commented on #143
@BlcaKHat  It looks like you don't have spectral installed. Try

sudo pip install spectral

Here are all the dependencies for pycoal
https://capstone-coal.github.io/docs#dependencies

gdal will take a bit longer to install than the others but you won't need it until you try to generate an environmental classified file

[2018-04-18 16:26] lewismc commented on #143
@BlcaKHat just do he following https://github.com/capstone-coal/pycoal#source

[2018-04-18 16:27] lewismc commented on #143
@BlcaKHat please provide a link to the Ahamdabad imagery you are attempting to classify. Thanks

[2018-04-18 16:29] lewismc commented on #122
Hi @thomkenn you've been cranking on this now since your original interest on January 18th, 2018. Do you have a pull request?

[2018-04-18 19:26] BlcaKHat commented on #143
The data i am using is not Free or sharable in my country. I am working under ( Indian institute of Remote sensing ). I am not allowed to take the data. I will try to give you the details of data tommorow.

[2018-04-18 19:27] BlcaKHat commented on #143
I have installed spectral and I was working with spectral to work with hyperspectral data

[2018-04-18 19:43] lewismc commented on #143
@BlcaKHat

Got it, right now pycoal only aims to work with [AVIRIS-C](https://aviris.jpl.nasa.gov/data/index.html) and [AVIRIS-NG](https://avirisng.jpl.nasa.gov/data.html) data.

By the way, AVIRIS-NG had flown many campaigns in India, you can see them here https://avirisng.jpl.nasa.gov/alt_locator/

[2018-04-18 19:47] BlcaKHat commented on #143
![imggg](https://user-images.githubusercontent.com/16970999/38954487-62cd5a92-436f-11e8-9f98-26d89dd29281.png)

this is the image..

[2018-04-18 19:47] BlcaKHat commented on #143
you try to get data if possible

[2018-04-18 20:14] lewismc commented on #143
@BlcaKHat please see the following information
[code]

[2018-04-18 21:41] thomkenn commented on #122
ok i sent in a pull request with the tentative formatting i had in mind for this to work. Further documentation study and changing references to the mineral.py throughout the greater program will be required and updated after this is completed

[2018-04-18 22:13] lewismc commented on #122
See my comment on the PR, close the PR and make sure your PR only includes
proposed changes not en entire history of the project.
Thanks

[2018-04-19 01:05] #109 closed

[2018-04-19 05:04] BlcaKHat commented on #143
@lewismc  thank you so much.

[2018-04-19 09:12] thomkenn commented on #122
Apologies, i had github improperly configured, i went off the notes you gave on my last PR and i believe i have submitted the proper form

[2018-05-08 19:51] lewismc commented on #105
Excellent work @bdegley4789 this is done done via #146

[2018-05-08 19:51] #105 closed

[2018-05-08 19:52] lewismc commented on #115
I'm going to close and eventually address this within the COAL-SDS run.

[2018-05-08 19:52] #115 closed

[2018-05-08 20:39] lewismc commented on #122
@EvandroCT can you please start working on this issue to get yourself familiarized with the project source code? Thank you

[2018-05-08 21:30] lewismc opened #148 "Implement proximity to GRanD Dam and Reservoir Data"
The Global [Reservoir](http://sedac.ciesin.columbia.edu/data/set/grand-v1-reservoirs-rev01) and [Dam](http://sedac.ciesin.columbia.edu/data/set/grand-v1-dams-rev01) (GRanD) database provides a geographically explicit and reliable database of dams and reservoirs for the scientific community.
Within pycoal environmental correlation, it would be advantageous to augment the environmental proximity (me

[2018-05-09 02:59] lewismc opened #149 "More flexible detection of gdal_proximity.py in Mac OSX 'Darwin' target environment"
Right now, environment.py makes a [subprocess call](https://docs.python.org/3.6/library/subprocess.html#subprocess.call) to [gdal_proximity.py](http://www.gdal.org/gdal_proximity.html).
This call execution is however not flexible enough as it does not make attempts to locate gdal_proximity on the local machine.
For example, using one of the [GDAL binaries for Mac OSX](http://www.kyngchaos.com/soft

[2018-05-09 04:37] #149 closed

[2018-06-04 17:19] EvandroCT commented on #122
PR moved to https://github.com/capstone-coal/pycoal/pull/155

[2018-06-12 22:45] EvandroCT opened #156 "Sphinx doesn't support Python 3.3"
When I performed [this PR](https://github.com/capstone-coal/pycoal/pull/154#issuecomment-393715423), I wasn't able to pass through [Job 2 of the Travis #377 build](https://travis-ci.org/capstone-coal/pycoal/builds/384559362). Taking a look at the Job log, there was an error at [line 725](https://travis-ci.org/capstone-coal/pycoal/jobs/384559364#L725): "ERROR: Sphinx requires at least Python 2.7 or

[2018-06-13 20:33] lewismc commented on #156
Please just remove build support for Python 3.3 thanks

[2018-06-14 01:33] EvandroCT commented on #156
@lewismc Done. Please, check this out https://github.com/capstone-coal/pycoal/pull/155

[2018-06-14 01:33] #156 closed

[2018-06-16 17:03] EvandroCT opened #157 "Create a score map"
This issue arose when I needed to store the confidences' values computed by SAM for each pixel when performing a mineral classification. The idea is to find a way to store those values somewhere to be able to be referred further on. I've already (ad hoc) modified mineral API to create a separated ENVI image in which each pixel holds it's score, but we can think of creating an additional (and optio

[2018-06-16 17:09] EvandroCT commented on #122
Hey folks, please, take a look at my PR https://github.com/capstone-coal/pycoal/pull/155

[2018-06-21 15:47] lewismc commented on #122
Thank you @EvandroCT

[2018-06-21 15:47] #122 closed

[2018-06-21 15:49] lewismc commented on #157
This is an excellent suggestion and I may have additional advice on how we can address this. I'll think a bit more and we can discuss in the future.

[2018-08-01 02:02] EvandroCT commented on #157
@lewismc [This ENVI Classification Files specification ](http://www.harrisgeospatial.com/docs/ENVIClassificationFiles.html) states that a classified image (like the one produced by the current Pycoal's SAM implementation) must have only one band, corresponding to the band with the classification labels information. Because of this I think we could extend the SAM's classifier callback arguments lis

[2018-08-01 03:09] lewismc commented on #157
@EvandroCT +1 I agree with the suggestion.

[2018-09-20 18:15] lewismc commented on #157
@EvandroCT is this implemented?

[2018-09-20 18:16] lewismc opened #160 "Create documentation on creation of Keras model"
@EvandroCT we need create documentation on how one would create a Keras model for the DNN. This is essential and it looks like it never got done. Can you advise? Thanks

[2019-08-03 15:40] lewismc commented on #160
This is available in the pycoal_examples
https://github.com/capstone-coal/pycoal_examples/blob/master/README.md

[2019-08-03 15:40] #160 closed

[2019-08-03 15:42] lewismc opened #161 "Address DeepSource issues"
There are a number of issues flagged by DeepSource as can be seen at https://deepsource.io/gh/capstone-coal/pycoal/issues/

This issue should resolve these issues.

[2019-08-22 17:41] lewismc opened #162 "Fix docker builds"
https://cloud.docker.com/u/capstonecoal/repository/registry-1.docker.io/capstonecoal/coal/builds/3189f4ec-e559-4dcb-84a3-cfef472204dc

[2019-08-22 18:21] lewismc commented on #162
Fixed in https://github.com/capstone-coal/pycoal/commit/7a0f146597466270ad6244b1a8e87ebb57889b45

[2019-08-22 18:21] #162 closed

[2019-09-12 17:36] Lactem opened #163 "Update Community Involvement Section of README"
1. The README has a Google Group mailing list icon that redirects to [a page](https://groups.google.com/forum/#!forum/coal-capstone) saying, "This group either doesn't exist, or you don't have permission to access it. If you're sure this group exists, contact the Owner of the group and ask them to give you access." @lewismc Are you the owner of this group?

2. I created a capstone-coal Slack organ

[2019-09-12 18:02] theoilie commented on #163
From following the official [development workflow](https://github.com/capstone-coal/pycoal/wiki/COAL-Development-Workflow), I'm unable to create any new branches since I don't have access. Should we be using a different workflow that involves forking the repo first? Otherwise wouldn't anyone who wants to contribute need to already have write permission for new branches? @lewismc

[2019-09-12 18:32] Lactem opened #164 "Failing Nosetest"
When running `nosetests`, the test `environment_test.test_intersect_proximity` fails with the following error:
`
File "environment.py", line 180, in proximity
    if returncode != 0:
UnboundLocalError: local variable 'returncode' referenced before assignment
`

I think the solution is simply to add `returncode = 0` to the beginning of the function call (below "def proximity(...)" in [environment.p

[2019-09-12 19:03] Lactem opened #165 "Make Small Files Default for Examples"
Running example_mineral.py took over 5 days to complete with 16GB of memory and a 3.4 GHz Intel i7 CPU that, according to Activity Monitor, ran at around 400% for most of the time. My output was the following:
[code]

It encountered an error (likely due to some kind of path problem or incomplete installation) that I won't be able to test unless I run the program for another 5 days. The problem is

[2019-09-12 20:54] lewismc commented on #163
Hi @Lactem Google changed the GGroup permission such that it became private again... I made it public so the above issue should now be resolved. Let me know if this is the case.

[2019-09-12 20:55] lewismc commented on #163
Also, please label your issues when you create them. Thank you v much.

[2019-09-12 20:56] lewismc commented on #164
I honestly didn't even know this @Lactem we should fix this... well observed.

[2019-09-12 20:56] lewismc commented on #164
Please submit a PR when you can, thanks

[2019-09-12 20:57] lewismc commented on #165
I COMPLETELY agree @Lactem thanks... +1 go ahead.

[2019-09-17 22:58] theoilie commented on #165
@aheermann is saying that on his laptop even the smaller example is taking about a full day. For even faster testing we could use this file (0.21 GB once unpacked):
ftp://avoil:Gulf0il$pill@popo.jpl.nasa.gov/y11_data/f110512t01p00r04.tar.gz

Files found from: https://aviris.jpl.nasa.gov/alt_locator/. Flight name for the linked data is: f180116t01p00r05.

Alternatively, flight f180201t01p00r05 from

[2019-09-18 20:08] lewismc commented on #165
Whatever makes sense to run in a reasonable amount of time. For sure the classifications can take a long time. That justifies our current project :)

[2019-09-18 20:50] aheermann opened #168 "Use dask to speed up SAM algorithm in mineral.py"
The SAM algorithm in mineral.py takes the majority of time when trying to classify an image, specifically these loops.

[code]
Speeding up this method with parallelization should prove beneficial in reducing runtimes. I think that trying the Dask module would be a good start to speeding up the process.
https://github.com/dask/dask
https://dask.org/

[2019-09-18 22:28] lewismc commented on #168
Hi @aheermann can you put this on the agenda for the next meeting? I am really keen to see what your plan for this is. Also, it might be appropriate for us to split this into smaller tasks... this may end up a pretty large undertaking.

[2019-09-18 22:39] #164 closed

[2019-09-18 22:45] aheermann commented on #168
Yep, I'll put it on the agenda. As to the undertaking, our idea for this was to just do some preliminary investigation and trials with this module, to see if it could work. We also have Jonathan and Dennis investigating using Pytorch for parallelization of the same code, so that we move forward with the most appropriate module

[2019-09-19 00:49] lewismc commented on #168
Excellent

[2019-09-27 16:10] theoilie commented on #165
@lewismc I pushed a commit for this ([link](https://github.com/capstone-coal/pycoal/commit/76d8286e6eaa7cb566a2f43e16551cc9208ffc78)). It makes the input file configurable for the three main examples (mineral, mining, and environment). I want to make sure you think I'm on the right track with this before making similar changes to the rest of the examples.

Also, it seems that even this smaller fil

[2019-09-27 17:42] lewismc commented on #165
This is way too long.
We need to subset an image to something which can be completed in 30 minutes max. Even that is hellishly long for an example. Maybe we should make the unit test and the example the same small subset image? The algorithm seems to have slowed down quite some.

[2019-09-27 19:08] lewismc commented on #168
Early branch available at https://github.com/capstone-coal/pycoal/tree/dask_trial

[2019-09-27 19:33] Luner opened #169 "Incorporate spectral functionality to increase parallelization flexibility for SAM algorithm"
The bottleneck in the loop for the SAM algorithm can be found in the function call to the spectral library to calculate spectral angles.

[code]

It could improve runtimes to move the function call into pycoal so that we could flexibly structure the pixel calculations to run on different parallelization frameworks.

[2019-09-27 20:06] lewismc commented on #169
@Luner thanks for registering this. Please use tags in the future to describe the issue.

[2019-09-29 20:02] Lactem opened #170 "Provide More Detailed Algorithm Descriptions"
It would be beneficial to have more thorough descriptions of what each part of the program does internally, even if it's at a high level. This would especially make sense for the examples portion so that people can know what exactly it is that they're looking at. Maybe we can compile our knowledge here and then format it nicely in the examples README? We can also include non-essential / lower-leve

[2019-09-29 20:16] theoilie commented on #165
@lewismc I pushed some code cleanup for the examples that I think will help before changing the images (https://github.com/capstone-coal/pycoal/tree/ISSUE-165). I can now work on making a subset of the image.

In other news, I ran the mineral example again and it only took 3 hours. My computer might have fallen asleep during the 10-hour run, so I installed something that should ensure it stays awa

[2019-09-30 19:06] lewismc commented on #170
Thanks for this @Lactem

[2019-09-30 19:07] lewismc commented on #165
Excellent, please create a pull request for ISSUE-165 branch. Good work.

[2019-10-01 01:56] aheermann commented on #168
Thus far, we have been working on the SAM algorithm, trying to speed up pixel classification. We have tried several ways of splitting up the pixel processing into dask delayed methods in order to parallelize it. However, the overhead on the smaller data set we are using has not led to any speed ups yet. We are running on the f180201t01p00r05rdn_e_sc01_ort_img.hdr image, which using the original ma

[2019-10-01 13:52] lewismc commented on #168
@aheermann can you please hyperlink the dataset.
A few more questions

Do you mean pycoal master branch? If not then this is not much to worry about as this is to be expected. Please provide more details. Thanks

[2019-10-04 01:16] TinyBugBigProblem opened #172 "Use PyTorch to speed up SAM algorithm in mineral.py"
Currently I've set up a module (parallel.py) to implement data parallelism using PyTorch in order to improving runtime.

The idea is to break up this code into more modular functions that a PyTorch Model class will be able to use more effectively.

            '# read the pixel from the file
            pixel = data[x,y]

            # if it is not a no data pixel
            if not numpy.isclose(

[2019-10-04 16:58] mjn0898 opened #173 "Readthedocs.io build failing"
When investigating why the outdated build is not updating, attempts to rebuild both the stable and latest version of the project both failed, returning the error: 'RuntimeError: Python version >= 3.5 required' while running setup.py in both cases.

[2019-10-04 17:34] lewismc commented on #173
@mjn0898 where is the build log... please reference it here. There is lacking context. Please fill in the blanks.

[2019-10-04 17:59] lewismc commented on #173
@mjn0898 here is the latest build log
https://readthedocs.org/projects/pycoal/builds/9755918/
I added https://github.com/capstone-coal/pycoal/blob/master/.readthedocs.yml
Either edit the build to include the relevant theme or else just remove the theme and use the default RTD theme... personally I think it would be easier if we did the latter.
This is a trivial item (should take no longer than 30

[2019-10-08 22:21] Lactem opened #175 "Explore Running Mineral Classification Distributed with AWS"
It seems that the typical use case for AWS Machine Learning is training models rather than our use case, which is splitting up a long for loop. I've identified the main challenges in using AWS for our use case:

**1. Splitting up data**
Using for example 1 Amazon S3 instance to store an AVIRIS image, we would need to read different portions of that data from multiple Amazon EC2 instances. For exam

[2019-10-10 23:27] theoilie commented on #175
After some thought and discussion, it seems that there are 2 options to try:

1) Wait for @TinyBugBigProblem to finish and push his PyTorch parallelization. I can build off of that to use PyTorch's already-developed way of distributing the algorithm to classify different pixels on different machines. A caveat here is that this might only be supported for distributing the training of a model, rathe

[2019-10-11 19:51] lewismc commented on #175
Hio @Lactem having discussed this on today's call, let's shelve this issue for the time. We will come back to it once the Dask and/or PyTorch tickets are resolved. Thanks for the verbose commentary this is excellent.

[2019-10-14 18:32] lewismc commented on #173
Fixed in https://github.com/capstone-coal/pycoal/commit/6ea923808db9c5b143968d5e7887eae37deba40f
There are subsequent issues with the markup. I will address those in a separate ticket.

[2019-10-14 18:32] #173 closed

[2019-10-14 18:35] lewismc opened #176 "Address markup issues preventing correct rendering of API-level documentation"
Hi @mjn0898 can you please take a look into why the following pages are not rendering correctly

https://pycoal.readthedocs.io/en/latest/conversion.html
https://pycoal.readthedocs.io/en/latest/mineral.html
https://pycoal.readthedocs.io/en/latest/mining.html
https://pycoal.readthedocs.io/en/latest/environment.html

Thanks

[2019-10-16 21:38] theoilie commented on #161
This will be my focus for next week's sprint.

[2019-10-17 02:09] lewismc commented on #165
Update on this as well @Lactem please. Thank youy

[2019-10-17 15:28] theoilie commented on #165
For this one we have PR #171 awaiting review. Once that's merged we should be able to close this issue (it should actually close it automatically since I tagged it with the "closes" keyword). @lewismc

[2019-10-17 16:38] #165 closed

[2019-10-17 22:26] aheermann opened #177 "Parallelize SAM algorithm in mineraly.py using Joblib"
Along with dask and Pytorch, we want another option for parallelization. This one is Joblib, a Python library often used for "embarassingly parallel for loops", that just runs on the CPU. The target code to parallelize is the same as issues #168 and #172, and this works to give users more choice when running Pycoal. Documentation on Joblib is linked below.
https://joblib.readthedocs.io/en/latest/i

[2019-10-17 22:30] aheermann commented on #168
Since the last update, dask was temporarily put on hold as our personal machines were not powerful enough to take advantage of it. As we now have access to AWS, we will pick back up work on dask. It will now be one option of several, including Pytorch (#172) and Joblib (#177) for users when running Pycoal.

[2019-10-17 23:08] lewismc commented on #177
Thanks @aheermann is there a PR for this yet?

[2019-10-17 23:09] lewismc commented on #168
@aheermann got it.
Thinking about the abstraction layer here is an important part of engineering a good solution. Please start thinking about that. It will require you to work with other in the group.

[2019-10-18 03:05] aheermann commented on #177
Not yet, @lewismc. I made a branch for the issue, but I am still making a few fixes

[2019-10-21 15:32] mjn0898 commented on #176
It looks like this issue is due to the following exceptions raised during the latest build:
![image](https://user-images.githubusercontent.com/24417929/67219609-32f8d100-f3dd-11e9-88fb-1cc654f7e44b.png)
Looking into fixing that issue now.
That screenshot is from https://readthedocs.org/api/v2/build/9834484.txt

[2019-10-21 15:33] mjn0898 commented on #176
That screenshot is from https://readthedocs.org/api/v2/build/9834484.txt

[2019-10-21 16:01] mjn0898 commented on #176
Update: Fixed the warnings, but the documentation is still not showing. If I look at the latest version of docs under downloads however, it is showing fine.

[2019-10-24 22:04] lewismc commented on #176
@mjn0898 where is the pull request so I can see the code? Please push code early and push it often otherwise I cannot replicate anything.

[2019-10-24 23:02] mjn0898 commented on #176
@lewismc I created it: https://github.com/capstone-coal/pycoal/pull/180
I tried making changes that worked for other people that had the same issue such as https://github.com/ethereum/eth-account/issues/39, but that hasn't fixed the problem as of yet.

Also, I'm not sure if we need a pull request since it is not finalized, should i close that and just leave it on the separate branch?

[2019-10-25 00:01] lewismc commented on #176
Fixed in #180

[2019-10-25 00:01] #176 closed

[2019-10-29 17:32] aheermann opened #182 "Create Configuration File for Parallelization Options"
Due to the wide variety of devices Pycoal can be run on, no one parallelization method for the SAM algorithm in mineral will work best for all. So we should create a configuration file to allow users to specify which they want to use, with our current options being dask, joblib, and pytorch.

[2019-10-30 17:05] #161 closed

[2019-11-07 19:40] mjn0898 opened #185 "Update unit tests for new functionality"
Validate current tests for functionality and write new unit tests for new implementations, including config file with different parameters.

[2019-11-08 03:48] Lactem opened #186 "Update README for Examples"
The README in the [examples section](https://github.com/capstone-coal/pycoal/tree/master/examples) is outdated due to the addition of constants.py and the subset option. We should add information about constants.py to that README, as well as update the link it displays for downloading AVIRIS data. We might change this link again soon so that it points to an image with close proximity to dams and r

[2019-11-08 21:07] Luner opened #187 "Modify "to_rgb" loop in mineral.py to use numpy.where"
This loops through each of the pixels and checks to see if the pixel has data.  If it does not, it sets the pixel's value to 0.

[code]

This takes a large amount of time as running this on the large example file will take around 20 minutes.  Changing this loop to a numpy.where operation could significantly reduce runtime.

[2019-11-08 21:12] Luner opened #188 "Remove repeated calculation for spectral angles from SAM algorithm"
The call to spectral_angles within the SAM algorithm looks like this:

[code]

This function is called for each pixel yet the input variable "members" will always remain the same.  Thus we can take the transformations done with "members" and preform them once before looping through the data.

[2019-11-08 21:15] Luner opened #189 "Add support for a progress bar when running the SAM algorithm"
Using the library [tqdm](https://pypi.org/project/tqdm/), we can create a progress bar when running through the SAM loop.  This would be useful as the runtime on large files is significant (potentially on the order of days), and seeing progress can be extremely helpful when determining whether or not to prematurely exit the process.

[2019-11-08 21:16] #169 closed

[2019-11-08 21:30] lewismc commented on #187
+1

[2019-11-08 21:31] lewismc commented on #188
+1

[2019-11-08 21:36] Luner commented on #187
Currently working in branch: "Issue-187".  Currently runs through to_rgb loop in a few seconds instead of 20 minutes for the large example file.  Compared results in QGIS and everything appears to work as expected.

[2019-11-08 22:56] #187 closed

[2019-11-08 23:02] lewismc commented on #189
@mjn0898 please take this issue on. If you need assistance with it then ask @Luner .
Thank you both.

[2019-11-09 21:24] #188 closed

[2019-11-09 21:27] Luner opened #192 "Modify SAM algorithm numpy array operations to be pytorch tesnsor operations"
It seems as if pytorch tensor operations can preform some tasks faster than numpy array operations.  In order to check this we will be switching the numpy operations into equivalent pytorch operations.

Note: Installing pytorch may be necessary in order to run this.

[2019-11-09 21:55] lewismc commented on #192
It would be great if we could analyze running times on several scenes. This way we can present the comparison for the paper. I understand that this takes some time but it is important. Thank you

[2019-11-09 22:56] Luner commented on #192
I pushed code using pytorch tensors in the branch labled "ISSUE-192".  The classified array outputs seem to be the same and I am in the middle of running the full example to take a look at the output.

As this code also includes some other small optimizations, as such I wrote two copies of the changes for this issue. One with pytorch tensors and a another with numpy arrays.  This way a more direct

[2019-11-09 23:00] lewismc commented on #192
Ok excellent, this is moving along nicely.

On Sat, Nov 9, 2019 at 14:56 Jonathan Luner <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
*Skype*: lewis.john.mcgibbney

[2019-11-09 23:21] Luner opened #193 "Numpy version of ISSUE-192 branch for more direct runtime comparison"
Changes made for ISSUE-192 include code optimizations that do not involve changing numpy operations to pytorch operations.

[2019-11-09 23:22] Luner opened #194 "Numpy version of ISSUE-192 branch for more direct runtime comparison"
Changes made for ISSUE-192 include code optimizations that do not involve changing numpy operations to pytorch operations.

[2019-11-09 23:22] #194 closed

[2019-11-09 23:46] Luner commented on #192
Just checked the results, just under 50 minutes to run.  The output results check out and look good.

There was a file added called resampler.py which was adapted from the spectral library such that we could store the resampling matrix as a variable within pycoal.

Note that the build fails with Traivs-ci likely due to the pytorch dependency.

[2019-11-09 23:48] Luner commented on #193
Pushed the numpy version of branch 192.  Essentially preforms the same operations as 192 with slight alterations necessary as functionality differs slightly

[2019-11-10 00:02] lewismc commented on #192
Please add pytorch to setup.py

On Sat, Nov 9, 2019 at 15:46 Jonathan Luner <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
*Skype*: lewis.john.mcgibbney

[2019-11-10 00:14] Luner commented on #192
Done, Should I make a pull request for this branch?

[2019-11-10 00:54] lewismc commented on #192
Yes pleas let’s do it. Also, Mujaheed can start working on a comprehensive
integration test suite with several full images.
This is excellent work... a significant contribution to the project. Please
start thinking about documentation and your contribution to the
presentation.
Also, if you get time, maybe this is the time for us to provisionally
investigate use of GPU...

On Sat, Nov 9, 2019 at 16

[2019-11-10 00:58] Luner opened #196 "Collapse SAM algorithm to operate column by column rather than pixel by pixel"
SAM currently loops through every pixel and preforms necessary operations.  It is possible to change this such that operations are preformed on a column by column basis.

This would in theory noticeably boost performance.

[2019-11-10 01:00] Luner commented on #192
There is one last optimization that could produce a significant boost in runtime I would like to implement.

I just opened issue #196 for this specific optimization.

[2019-11-10 01:07] lewismc commented on #196
+1

[2019-11-12 22:30] mjn0898 commented on #163
Slack icon pixel width regressed, reinstating previous fix by @Lactem

[2019-11-14 15:07] #163 closed

[2019-11-14 17:46] Luner commented on #196
This branch is built off of ISSUE-192.  It runs very quickly, reducing the runtime from about 45 minutes to 6 minutes.

I do however experience issues when running the process on my desktop.  It seems likely that it is due to either an issue with the power supply or overheating processor as I build it into a small case with little airflow and a relatively low wattage PSU.

Essentially about 50% of

[2019-11-14 17:51] lewismc commented on #196
Cool, can you point me to the branch please? Thank you

[2019-11-14 18:24] Luner commented on #196
The branch is labeled ISSUE-196

[2019-11-14 18:30] lewismc commented on #196
Will try it later on thanks

[2019-11-15 15:09] lewismc commented on #196
@Luner I tried to run the example mineral classification on the larger scene with no luck. Program stalled early on after RGB image generation. I'm going to attempt a profiling session to see what is going on.

[2019-11-15 15:39] lewismc commented on #196
Running some diagnostics
[code]
... let it run for a while, then kill it and see what is going on
[code]
A couple of questions/observations.

1. Can anyone else reproduce this behaviour?
2. From the above it is pretty easy for us to see which calls are taking loads of time. Most of the calls are primitive in nature meaning that we _may_ have a small number of buggy recursive calls which leave us w

[2019-11-15 16:05] lewismc commented on #196
I believe that the hanging issue above was caused by incorrectly specifying values for `MINERAL_SUBSET_ROWS` and `MINERAL_SUBSET_COLS` configuration parameters in `constants.py`.
I've now set these to
[code]
...re-running re job

[2019-11-15 16:10] lewismc commented on #196
Job finished results as follows
[code]
We need to validate the results... that's the next step. This is a huge speedup for sure.

[2019-11-15 17:28] Luner commented on #196
The results seem to be the same.  There are a few pixels that were classified differently but it seems like this is due to slight changes in calculation results.

Basically when looking for the max angle, sometimes there were a pixel that has a few that angles that were the same value and max would find the first.  These small changes made it so that these values that were previously the same were

[2019-11-15 17:41] lewismc commented on #196
OK, please submit a PR for this branch if you are happy with it so I can review the code. This is a huge step forward.

[2019-11-16 07:14] mjn0898 commented on #185
Frame for config test added in corresponding branch

[2019-11-21 02:36] #177 closed

[2019-11-21 02:36] lewismc commented on #182
This is superseded by #199

[2019-11-21 02:36] #182 closed

[2019-11-21 02:37] lewismc commented on #172
Superseded by #196

[2019-11-21 02:37] #172 closed

[2019-11-21 03:23] lewismc commented on #189
@mjn0898 please start work on this issue. Thanks

[2019-11-21 04:12] mjn0898 commented on #189
Sounds good.

[2019-11-21 05:12] lewismc commented on #103
Landscape no longer exists... closing off.

[2019-11-21 05:12] #103 closed

[2019-11-21 05:17] lewismc opened #200 "Investigate running Pytorch on GPU"
Hi @TinyBugBigProblem I'm opening this on your behalf. I understand you are working on GPU acceleration for Pytorch. Depending on your environment the setup and installation of the stack can be non-trivial.

How are you currently working on this? Can you detail? I've tried to get the basic installation running on macOS 10.14.6 (18G1012) and was unable. I was required to install Pytorch from source

[2019-11-21 06:04] lewismc commented on #200
It turns out that the version of macOS I am running is imply too new for the CUDA toolchain. I have a GPU server in work which I'll work on. I'll update this ticket tomorrow with that environment.

[2019-11-22 06:04] mjn0898 commented on #189
After discussion with the team today, it seems tqdm can be used to display a progress bar for SAM_serial only, not the other implementations due to the way the loops are set up. I just want to confirm that we still want this implemented for just the one implementation. If so, it should be a rather simple change to the code in the SAM_serial function once ISSUE196 pr is merged.

[2019-11-22 06:54] lewismc commented on #189
No don't bother implementing it. Let's close for now. Please address the comment I left for you in #198

[2019-11-22 06:54] #189 closed

[2019-11-22 06:54] lewismc commented on #200
@TinyBugBigProblem PING

[2019-11-22 06:55] #185 closed

[2019-11-22 06:56] lewismc commented on #175
Thanks for your work above @Lactem I'm going to close this off for the time being. The idea would be to utilize GPU with Pytorch before anything else.

[2019-11-22 06:56] #175 closed

[2019-11-24 19:06] aheermann opened #202 "SAM_joblib update"
Updating the code in SAM_joblib to match that of the other SAM algorithms in ISSUE-193

[2019-11-25 03:40] lewismc commented on #202
@aheermann are you going to work on this?

[2019-11-25 03:45] aheermann commented on #202
Yes @lewismc , just dev testing to make sure I didn't introduce any new bugs. Hope to have a PR by tomorrow afternoon

[2019-11-25 04:11] lewismc commented on #202
Excellent Andrew. Thanks for the update.
--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
*Skype*: lewis.john.mcgibbney

[2019-11-26 05:07] lewismc commented on #200
Hi @TinyBugBigProblem please post whatever code you have so I can take a look. Thank you

[2019-11-26 05:08] lewismc commented on #192
@Luner can this issue be closed off?

[2019-11-26 05:53] Luner commented on #192
Yeah, this and 193 are just the same thing except using numpy and pytorch respectively if we are interested in the runtime differences.

[2019-11-26 06:44] lewismc commented on #192
Got it. I think it is certainly useful to implement both for comparison and then essentially retain the most performant and deprecate the lesser.
Thanks for opening the issues and tracking your work. Please clean them up when you are finished. Excellent job.

[2019-11-26 06:50] #192 closed

[2019-11-26 06:50] #193 closed

[2019-11-26 07:08] #157 closed

[2019-11-27 17:37] lewismc commented on #200
@TinyBugBigProblem PING

[2019-11-27 18:22] lewismc commented on #202
Addressed in #203

[2019-11-27 18:22] #202 closed

[2019-11-27 20:29] #148 closed

[2019-11-28 01:23] lewismc opened #204 "Activate test_intersect_proximity for TravisCI"
Currently `test_intersect_proximity` is skipped if running in CI environment.
The reason provided is
[code]
Since this was initially implemented, TravisCI provides a much richer mechanism for dependency installation on different OS.

https://docs.travis-ci.com/user/installing-dependencies/

[2019-11-28 01:23] lewismc commented on #204
I'm taking this one now

[2019-11-28 01:28] aheermann opened #205 "Extend resampler to detect and scale units"
As noted in the mineral.py SAM algorithms, we want to have the resampler be able to modify the dimensions of an image, and scale the units accordingly.

https://github.com/capstone-coal/pycoal/blob/34a97fa255d7bb116999ccbae7cded77e917e789/pycoal/mineral.py#L162-L164

[2019-11-28 03:32] #204 closed

[2019-11-28 19:17] lewismc commented on #134
More information on this http://www.spectralpython.net/libraries.html#ecostress-spectral-library
It turns out that ECOSTRESS supersedes ASTER so we will also have some deprecated code.

[2019-11-28 19:46] lewismc opened #207 "Add Hypercube Display (compliment RGB image generation) to mineral.py"
We currently produce an [RGB image](https://pycoal.readthedocs.io/en/latest/mineral.html#pycoal.mineral.MineralClassification.to_rgb)

A [hypercube](http://www.spectralpython.net/graphics.html#hypercube-display) provides another mechanism for data exploration and understanding.

[2019-11-30 22:18] #207 closed

[2019-11-30 22:19] lewismc opened #209 "Fix broken test in build"
@aheermann it turns out that the joblib test is failing...
https://travis-ci.org/capstone-coal/pycoal/jobs/619064202
I think this is due to there never having been mineral classifications made using SAM_joblib... therefore the results are different.
@mjn0898 FYI

[2019-11-30 22:21] lewismc commented on #200
@TinyBugBigProblem please post your update by end of business Monday morning as this signifies the end of the project. Thank you

[2019-12-02 00:17] #186 closed

[2019-12-04 00:59] Luner opened #212 "Clean up SAM"
The three SAM functions (SAM_pytorch, SAM_serial, and SAM_joblib) share a lot of the same code with the only difference being the ways in which they populate the classified and scored arrays.

It might make one SAM algorithm that holds this shared code, and will use the method chosen in config.ini to populate the arrays.  It should help with readability.

[2019-12-04 02:16] lewismc commented on #212
I see you've created a branch for this @Luner it makes PERFECT sense! I was also getting concerned with the duplication in mineral.py
It's upt to you how you want to merge these contributions into master... if you want to close out without merging #198 in favor of #212 then please do.

[2019-12-04 18:39] #212 closed

[2019-12-04 18:40] #196 closed